[2015-09-28 14:39] trietphamvm opened #1 "[Android] - allow users to input places and addresses"
example - if i want to be picked up from a Ralph's grocery store and be taken to Walmart.
-if i don't know the address of the place i'm at or going but i know the name

[2015-09-28 14:40] trietphamvm opened #2 "[Android] - unable to load main driver options"
when i click on make offer, ride now, and reserve ride, the tabs do not expand to show the vehicle options.
![image](https://cloud.githubusercontent.com/assets/14874365/10138610/8832673a-6629-11e5-8210-6fbaffd859ea.png)

[2015-09-28 14:41] trietphamvm opened #3 "[iOS + Android] - autoload current location in pick-up field"
if users want to change it, they can but it would be easier if we autoload their current current location

[2015-09-28 14:42] trietphamvm opened #4 "[Android] - driver registration field validation and verification"
Thanh and team - we need to add validation and error messaging to some of the form fields.

-If under 21 yrs old, display message: Sorry, you have to be at least 21 years of age to register as a Driver.
-address, state and zip need to be verified by postal system
-drivers license number and state need to be verified by US DMV (department of motor vehicle)
-insurance needs to be validated as well?

[2015-09-28 14:42] trietphamvm commented on #4
Phuong @phuong37, can you give me the service that we will use to validate driver license number and state. The service to validate insurrance as well. Thanks.

[2015-09-28 14:43] trietphamvm opened #5 "android bug - driver registration, uploading images causes image overlap"
when uploading images to driver registration, the two images overlap. see screenshot.
![image](https://cloud.githubusercontent.com/assets/14874365/10138703/ef6de9b0-6629-11e5-9b3c-a8ee9060dd78.png)

[2015-09-28 14:44] trietphamvm opened #6 "[Android] - adding address makes the app hang"
on main rider screen, when i try to add an address, it hangs and the spinner keeps spinning.
![image](https://cloud.githubusercontent.com/assets/14874365/10138735/13e6c348-662a-11e5-9ceb-585803e5db8d.png)

[2015-09-28 14:44] trietphamvm opened #7 "android enhancement - add user feedback copy on verification screen"
Under the title "Enter confirmation code," please add the copy:

A confirmation code has been sent to your phone. Please enter it below to verify your account. Use the gray font color.

Thanks!
P

[2015-09-28 14:45] trietphamvm opened #8 "[Android] - minor visual adjustments"
-update logo to new logo (brighter blue)
-smaller top dar logo after home screen needs to be centered (scoot to the left a bit).

![image](https://cloud.githubusercontent.com/assets/14874365/10138786/46687f96-662a-11e5-80f6-9a31883738ce.png)

[2015-09-28 14:46] trietphamvm opened #9 "android - samsung galaxy s6 edge usability"
-app needs to have 15-20 pixel padding on right and left side for clickable buttons. on the samsung s6 edge, the arrows (back and next) are hard to click because of the curved edge.

[2015-09-28 14:46] trietphamvm opened #10 "[Android] - unable to add american express card"
-it only allows me to enter 14 digits. my american express card has 15 digits.

[2015-09-28 14:48] trietphamvm opened #11 "[Android] - able to add US number to different country"
should we add country validation for the phone numbers?
![image](https://cloud.githubusercontent.com/assets/14874365/10138856/8d2f71b4-662a-11e5-8faa-a29f790e2375.png)

[2015-09-28 14:48] trietphamvm opened #12 "[Android] - sign-in with facebook from home screen does not connect to facebook"
it looks like it's trying to connect but then just goes back to the home screen and does nothing.

[2015-09-28 14:49] trietphamvm opened #13 "[Android] - hotspot for adding a photo should cover the add photo link"
-need to make sure that users can click the link, "Add Photo +" and not just the image above it
![image](https://cloud.githubusercontent.com/assets/14874365/10138902/c0b2c36a-662a-11e5-8977-8c9669b44119.png)

[2015-09-28 14:50] trietphamvm opened #14 "android bug - unable to validate credit card"
-i put in my visa but it keeps giving me an error saying that the "card number is invalid"
-all info from credit card is correct

![image](https://cloud.githubusercontent.com/assets/14874365/10138935/d78a72d6-662a-11e5-9aa3-c668c243a5c7.png)

[2015-09-28 14:50] trietphamvm commented on #14
Please use this testing credit card 4242 4242 4242 4242, expired date is any time in future, CCV is any

[2015-09-28 14:50] #14 closed

[2015-09-28 14:50] trietphamvm opened #15 "[Android] - hotspot on account selection screen too small"
-please make hotspots bigger so that it's easier to select between creating a rider account and driver account.
-if possible, please allow for swiping of the screen

![image](https://cloud.githubusercontent.com/assets/14874365/10138964/f8186a76-662a-11e5-8cc7-c5fccbcf2ef1.png)

[2015-09-28 14:51] trietphamvm opened #16 "[Android] - dar icon too small"
-dar icon is rendering too small on samsung galaxy s6 edge. see screenshot.
-change "A" in DealARide to small "a," it should be DealaRide

![image](https://cloud.githubusercontent.com/assets/14874365/10138983/0de7de72-662b-11e5-808b-9b228a09890d.png)

[2015-09-28 14:52] trietphamvm commented on #16
Cuong, please add this icon to fix this bug

![image](https://cloud.githubusercontent.com/assets/14874365/10139002/22bc3546-662b-11e5-9a54-508c70bcf68c.png)

[2015-09-28 15:27] ThangD commented on #15
Add code to resolve this issue.

[2015-09-28 16:05] ThangPk commented on #13
Resolved this issue, please wait the next build to verify.

[2015-09-28 17:12] phuong37 commented on #4
Hi Thanh, this one is tricky. We have to use some kind of ID verification service like jumio or veratad, etc. as for insurance, we will have to do some research on DMV (US Department of Motor Vehicle) type APIs. I'm not sure that any of the services will be free.

[2015-09-28 17:15] phuong37 commented on #4
Maybe not jumio but netverify

[2015-09-28 17:16] trietphamvm commented on #4
Yes, I searched some service, and seem they have the separated API for each state. If so, the code for checking will be complicated. I just want to know that it’s really necessary?

Thanks
TP

[2015-09-28 20:32] phuong37 commented on #4
i would say yes but we can open the discussion to the team if you want. if we don't verify driver's license and insurance, i think it could be a very big mess for us in the future. even if we're not performing background checks, verifying that a user has a valid driver's license and valid auto insurance is a minimum. what do you think?

[2015-09-28 21:03] nguyendtt commented on #4
I agree that it needs to be open for discussion, perhaps it's a question for Buruk since he drives for Lyft.

[2015-09-29 01:06] nguyendtt opened #17 "[iOS] - Unable to Sign-in with Facebook"
When trying to Sign-in with Facebook, most of the time, DAR app attempts to make the connection with Facebook however upon returning to the app, user keeps getting the spinning "Please wait..." graphic. Tested on 5c and 5 iPhones.

![img_8492 1](https://cloud.githubusercontent.com/assets/14857908/10152833/a04dbb96-6613-11e5-8222-75c7d9b3facd.PNG)

[2015-09-29 01:09] nguyendtt opened #18 "[iOS] - App keeps crashing"
In the process of creating an account, app keeps crashing especially after hitting the back button. This happens for both creating a rider and driver account.
Tested on iPhones 5 and 5c.

[2015-09-29 01:12] nguyendtt opened #19 "iOS bug - Able to add and save a US phone number when selecting a different country"
User is able to add a US phone number while selecting a different country and then able to save.

![img_8494 1](https://cloud.githubusercontent.com/assets/14857908/10152917/a38bd558-6614-11e5-9531-9e01aaea20ab.PNG)

[2015-09-29 01:19] phuong37 opened #20 "[iOS] - unable to install on iOS versions 8.1 & 8.3"
Team, Thanh L and I were not able to install the app on our phones. We have iOS versions 8.1 & 8.3 and we have already supplied our UDIDs.
![installation_error](https://cloud.githubusercontent.com/assets/14860705/10153077/79d44ac6-660d-11e5-8eb4-ef1814281b48.PNG)

[2015-09-29 01:24] nguyendtt opened #21 "[iOS + Android] - Stronger password required"
Tested on iOS but perhaps this is an overall enhancement.  User was able to enter "1234" as a password.  A stronger password should be required.  Perhaps at least 8 characters with at least 1 number and an upper case letter.

[2015-09-29 01:27] nguyendtt opened #22 "iOS bug - unable to request rides"
After inputting pickup and dropoff locations, user is unable to select "make offer" "request ride" or "reserve ride".  The buttons are not functional. Tested on iPhones 5 and 5c.

[2015-09-29 01:29] phuong37 commented on #22
Oh Trinh, Thanh mentioned that the this feature has not been implemented yet.

[2015-09-29 01:29] trietphamvm commented on #22
This version still not implement this feature chi Trinh. Please wait more time for that function to work.

Thanks
TP

[2015-09-29 01:31] nguyendtt commented on #20
I have version 9.0 on the 5 and 8.4.1 on the 5c and they both installed.

[2015-09-29 01:31] trietphamvm commented on #20
Please resend the UDID of this device so that I can check with iOS team?

Thanks
TP

[2015-09-29 01:32] nguyendtt commented on #22
Got it. I'll go ahead and close this for now.

[2015-09-29 01:32] #22 closed

[2015-09-29 01:36] tle960 commented on #20
Thanh Le - 856667a9f75637b5b89e34e97f88c01ef6b57314

Sent from my iPhone

[2015-09-29 02:01] nguyendtt opened #23 "[Android] - compatibility issue with older/less popular phones"
Logging this as a bug for now since I'm not sure if the issues are the phones that I have.

I got a hold of some older Android devices today, a Motorola Moto X and an HTC One M8 and got the app to install.  However upon launching the app, i was greeted with the "No Valid Google Play Services APK found." message.  The HTC has Android 4.17.605.5 version and the Moto X has 5.0 version.  According to

[2015-09-29 02:22] nguyendtt opened #24 "iOS bug - unable to complete driver's account after logging back in"
Not sure if this is a bug or it's just not completely built out but after the app crashes during the process of inputting driver's license, after logging back in (even after reinstalling app), there's not a way to continue the process to input the insurance information.  Sometimes, user gets the "Under Constructure" screen after logging back in.
![img_8495 1](https://cloud.githubusercontent.com/as

[2015-09-29 02:27] trietphamvm commented on #24
This is the main screen of driver which we don’t implement yet. If you register as driver, you will have difference main screen against rider.

Thanks
TP

[2015-09-29 02:30] nguyendtt commented on #24
Got it, but I was not able to complete the registering process yet, only got through adding a driver's license and haven't got to adding insurance yet.

[2015-09-29 02:36] trietphamvm commented on #24
We will fix the crash issue chi Trinh. In case you want to change the driver information, after registering, you can edit that information in profile which will be added.

Thanks
TP

[2015-09-29 02:37] nguyendtt opened #25 "[iOS] - Email/Phone Number should be unique to each profile"
Tested on iPhones 5c.  I was able to use the exact same email, password and phone number to create an account again. I did not receive another confirmation email but did get another mobile confimation code. For testing purposes, it would be great if there's a way for us to delete test accounts from the system so we can keep using the same email accounts to create/recreate profiles however for real

[2015-09-29 02:38] nguyendtt commented on #24
OK, please close this ticket if you think that's the appropriate action. Thanks Triet.

[2015-09-29 02:39] trietphamvm commented on #24
Ok chi

[2015-09-29 02:39] #24 closed

[2015-09-29 02:40] trietphamvm commented on #25
This should be a bug. We will fix. Thanks chi.

Thanks
TP

[2015-09-29 02:43] nguyendtt commented on #25
I have updated it as a bug. Thanks.

[2015-09-29 02:47] phuong37 commented on #25
Just a quick note - Android validates against email. I was not able to create an account yesterday with the same email. :)

[2015-09-29 02:48] phuong37 commented on #20
Jim was not able to install either - his UDID is FFFFFFFF60AA863EC645425EB62B3FD6568166EA

[2015-09-29 02:50] nguyendtt commented on #25
Got it. Thanks Phuong.  I will update the ticket.  Unrelated but is there a way to tag someone in the comment?

[2015-09-29 02:53] phuong37 commented on #20
Mine/Phuong's is - a16525dd680701dcd59da83fd3d1797b49ce0ac2

[2015-09-29 02:54] phuong37 commented on #25
@nguyendtt

[2015-09-29 02:57] nguyendtt commented on #25
Thanks @phuong37 .  That's so simple.  I was stuck in Jira mindframe doing [~phuong37]. :)

[2015-09-29 03:04] trietphamvm commented on #20
Added. Please close this ticket after Jim install the app.

Thanks
TP

[2015-09-29 03:04] trietphamvm commented on #20
Added, please close after you confirm that can install the app

Thanks
TP

[2015-09-29 03:12] cuong-ubesim commented on #3
Maybe, we should introduce an option in Settings to let rider decide whether he wants to turn this option either on or off. How do you guys think?

[2015-09-29 03:21] cuong-ubesim commented on #21
Please make a rule to define strong password on server side first, then Android and iOS will display hint

[2015-09-29 03:21] trietphamvm commented on #21
Got it

Thanks
TP

[2015-09-29 03:28] nguyendtt commented on #3
Lyft has current location auto-populated as the default, however my address shows up slightly off on their app (same neighborhood, wrong address).  I think we should auto-populate the current address by default however shows the address on the field instead of just "Current Location" so user can update if it's not correct @trietphamvm @phuong37

[2015-09-29 03:31] trietphamvm commented on #11
This is a big issue, we can't validate all format of the phone number for all countries. When we go live, we will limit the phone for US only

[2015-09-29 03:51] phuong37 commented on #3
team - i agree with chi trinh that we should auto-load the address and not label it "current location." also, on lyft, you can click on the pin and have it load the address. anh @cuong-ubesim, i think it would be a good feature to auto-load address even if it's not 100% accurate because users are used to seeing that in all of the mapping apps out there - it has become expected now. what do you thi

[2015-09-29 03:54] phuong37 commented on #20
strange - thanh l and I are still unable to install even with new link?

[2015-09-29 03:55] trietphamvm commented on #20
I forgot that your iOS must be 8.4 or higher.

Thanks
TP

[2015-09-29 03:56] phuong37 commented on #15
Will test in next release. Thank you @ThangD!

[2015-09-29 03:57] phuong37 commented on #11
for now, that's perfect! thanks!

[2015-09-29 03:58] phuong37 commented on #13
Will verify in next release. Thank you @ThangPk!

[2015-09-29 04:01] phuong37 commented on #4
@trietphamvm - should we validate in Colorado and California first? Lam said that he has an car insurance contact now, I know they can validate this information on their system. Maybe we can integrate with their API?

[2015-09-29 04:02] trietphamvm commented on #4
Can you work with them to give me the API?

Thanks
TP

[2015-09-29 04:04] nguyendtt commented on #11
I agree.  I opened a similar bug for iOS as well.

[2015-09-29 04:05] phuong37 commented on #20
thank you! we will install the software update and retry.

[2015-09-29 04:08] nguyendtt commented on #3
I agree with @phuong37 .  @trietphamvm , can we just update this ticket as an enhancement for both android and iOS? If not, I will create a separate one for iOS. Thanks.

[2015-09-29 04:10] trietphamvm commented on #25
I just update the server API to make sure the phone number is unique. I checked database, chi Trinh made a mistake where the email is difference.

@cuong-ubesim  and @phucdoan, please update your side to check phone number as well

[2015-09-29 04:16] trietphamvm commented on #3
please create another ticket for ios, we have difference team for these platforms, please don't forget to have [iOS] - and [Android] - in front of title for easy categorize. Thanks.

[2015-09-29 04:20] phuong37 commented on #4
i talked to lam, he will talk to the insurance guy on wednesday. thanks!

[2015-09-29 04:21] trietphamvm commented on #21
I just update the API, here is the rule: at least 7 characters which at least 1 upper case, 1 lower case and 1 digit

@cuong-ubesim , @phucdoan please add the hint if user type the weak password as below:

"Password must be at least 7 characters and contains at least 1 number, 1 upper-case and 1 lower-case letter."

[2015-09-29 04:21] trietphamvm commented on #4
That’s cool Phuong.

Thanks
TP

[2015-09-29 04:28] trietphamvm commented on #19
the same as but #11

[2015-09-29 05:10] phuong37 commented on #20
This has been resolved. Thanks team!

[2015-09-29 05:10] #20 closed

[2015-09-29 05:20] phuong37 opened #26 "[iOS] - minor design changes"
minor issues, can be resolved later.

-please move create new account and sign-in with Facebook up to be centered with "forgot your password" link and bottom of the screen (see attached)
-please make facebook and create new account icons smaller
-please update to use new logo

![dar_logo_new](https://cloud.githubusercontent.com/assets/14860705/10155852/ec51d002-662e-11e5-8afa-a596bd7c0b98.png)
![1

[2015-09-29 05:36] phuong37 opened #27 "[iOS] - rider create profile screen updates"
minor changes - can update anytime :)
-update Photo Galary to Photo Gallery
-increase height of form fields
-change add photo to Add Photo + and increase font size to the same size as form field text. please also increase hotspot to make the Add Photo + link clickable.

![3_dar_userinfo](https://cloud.githubusercontent.com/assets/14860705/10156028/2d232b1a-6631-11e5-9ff2-fee681f3a6b9.png)

[2015-09-29 05:43] phuong37 commented on #25
anh @phucdoan and anh @cuong-ubesim, can you please add validation to make the phone number 10 digits only? US is 10 digits. thank you!

[2015-09-29 05:47] trietphamvm commented on #25
Let me update on the API, the mobile just use it.

[2015-09-29 05:48] phuong37 commented on #25
perfect! thank you anh @trietphamvm!

[2015-09-29 05:53] phucdoan commented on #27
-when user types in the field, please remove the field name and replace with what the user is typing (remove first name, last name, etc.) => call by placeholder

=> Actually, user need to known which info they was fill on time. So placeholder still alive to remind them. But if it no need, i'll make them go away :)

[2015-09-29 06:01] phuong37 opened #28 "[iOS] - unable to get past payment info screen"
strange - i used the 4242 number but still no luck. it just hangs.
i have an iphone 6 plus and just upgraded to iOS 9.0.1
![img_3823](https://cloud.githubusercontent.com/assets/14860705/10156318/a4666c66-6634-11e5-9c0f-24adb7582967.PNG)

[2015-09-29 06:03] nguyendtt commented on #27
I actually agree with @phucdoan on the placeholders/field names @phuong37. I think it's a nice reminder as sometimes I type the wrong info in the wrong field. If you feel strongly about removing the field names, let's discuss further.

[2015-09-29 06:03] phuong37 commented on #27
hi anh @phucdoan - it's a very good point. can we have it disappear if the user types something but if they don't click in the box, show the first name, last name, etc.? i think that will help.

[2015-09-29 06:06] trietphamvm commented on #27
@phuong37, actually this is a new style of placeholder and I suggested @phucdoan to keep it. It’s cleared and nice.

Thanks
TP

[2015-09-29 06:06] phuong37 commented on #27
chi @nguyendtt it's very common practice to remove when a user actually types something. please refer lyft and uber app. it's a good balance between usability and functionality. if we always include the title of the field, we will use up valuable space in the app, especially with the driver registration which is already very long. thoughts?

[2015-09-29 06:11] phuong37 commented on #27
anh @trietphamvm - it is a very nice feature but i just wonder if it's necessary? let me discuss with the design team. from a usability perspective, it is considered common practice for web and app forms to not have the header.

[2015-09-29 06:13] trietphamvm commented on #27
Actually it’s good to have, right @phuong37? So I suggest to keep it. Let discuss with the team anyway.

Thanks
TP

[2015-09-29 06:22] phuong37 commented on #27
anh @trietphamvm - if it's not a usability issue, please keep the intent of the design as is. the title should not disappear until the user actually starts typing which makes it intuitive enough. this is not a matter of preference, it is standard practice now.

[2015-09-29 06:30] trietphamvm commented on #27
@phuong37, it’s actually new style of input for software nowadays, it really helpful when we have a lot of data for input, if you want to review again, I’m sure you won’t know which information you did input without that placeholder still there. Trust me, let try this time. it won’t be redundant.

You know it was very difficult to implement in the past. In case it make trouble for user, we can rem

[2015-09-29 06:41] tle960 commented on #27
Hi everyone,

I noticed that we're having a lively discussion about the input form
fields.  Here's my take as the designer: I like the reminder popping up as
the user is typing to help guide him/her, however, I do not like that it
stays there after input.  That's adding more data then is necessary and
makes everything clustered with unnecessary info.  I don't need to be
reminded that my first name

[2015-09-29 06:52] trietphamvm commented on #27
yes @tle960, but in case you have some fields for input. That’s ok. How do you think if you have a lot of fields and then you want to review all of them after input?

I have made a lot of projects, at the beginning, placeholder is not existed, the people place the label on the top of the input. Then when the technology improved, the placeholder is generated and I think nowadays, the placeholder wi

[2015-09-29 07:25] phuong37 commented on #27
anh @trietphamvm, it is the end-user we have in mind when we design. :) please keep in mind that we put a lot of thought into keeping the interface clean, simple and intuitive, and we also research competitor and leading industry apps to help inform us. even with our longest form, the fields are self-explanatory and are broken out into sections that are labeled already. although we feel it is unne

[2015-09-29 16:57] nguyendtt commented on #28
Is this for creating a rider or driver account @phuong37 ?  I had no issue with this screen yesterday when registering for both rider and driver, however today when I try to create a driver account, it hangs too but the message is "Loading..."

[2015-09-29 17:00] ThangPk commented on #8
Update the code. Please wait to next build.

[2015-09-29 17:00] ThangPk commented on #8
Update the code, please wait to next build.

[2015-09-29 17:00] phuong37 commented on #28
@nguyendtt - both, i believe the first 3 screens are the same for riders and drivers including the payment screen but please double-check. :)

[2015-09-29 17:01] ThangPk commented on #9
Update the code, please wait to next build.

[2015-09-29 17:01] phuong37 commented on #8
Awesome! Thank you @ThangPk!

[2015-09-29 17:20] trietphamvm commented on #28
I'm sorry about this @phuong37  and chi Trinh @nguyendtt. This issue caused by the server is just updated for checking the strong password and unique phone number.

To workaround this issue, I will delete the accounts that use Phuong's number or chi Trinh's number then you can re-register your new account and make sure you create a strong password: at least 7 characters, 1 digit, 1 upper case and

[2015-09-29 17:21] nguyendtt commented on #28
They look the same but I'm not sure if they are the same on the backend @phuong37 @phucdoan @trietphamvm .  Today, when singing up for driver account, I got "Loading..." on driver side and "Finishing sign up...." for rider side.

[2015-09-29 17:22] nguyendtt commented on #28
Got it @trietphamvm . Yes please let us know when it's ready to test again.

[2015-09-29 17:26] phuong37 commented on #28
i will re-register once it's ready! thank you anh @trietphamvm!

[2015-09-29 17:27] trietphamvm commented on #28
you are ready @phuong37. I just delete your one account on server. Please try again, remember to have strong password.

[2015-09-29 17:28] ThangPk commented on #12
@nguyendtt Could you please help to check it again? It an issue of facebook haskey when configuring for app release. Thanks.

[2015-09-29 17:30] nguyendtt commented on #28
I am able to get through with a strong password but the app crashes when it gets to the insurance screen, same experience yesterday. I will log a bug for that.

[2015-09-29 17:32] ThangPk commented on #2
@nguyendtt These function are not implemented on this release yet.

[2015-09-29 17:33] phuong37 commented on #28
hmm, i tried but am seeing an X when i submit. 7 characters with 1 number, 1 cap, and 1 lowercase. i even tried more than 7 characters...

[2015-09-29 17:34] phuong37 commented on #28
nevermind, it's because i tried to use my gmail email and not yahoo. :) it's working now - thank you!!

[2015-09-29 17:35] trietphamvm commented on #28
OK Phuong, this bug will be get rid in next release

[2015-09-29 17:35] nguyendtt opened #29 "[iOS] - Couldn't get through to Insurance info screen"
When registering for a driver's account, I'm only able to save the driver's license step.  When it gets to the Insurance info screen, the screen flashes briefly and the app crashes.  I have tried reinstalling a couple times with the same results.

[2015-09-29 17:36] phuong37 commented on #9
thank you, @ThangPk!

[2015-09-29 17:36] phuong37 commented on #28
awesome, closing bug. thank you!

[2015-09-29 17:37] trietphamvm commented on #28
Please do not close it when you do not receive the fix @phuong37

[2015-09-29 17:40] phuong37 commented on #28
good point, i will validate in the next release and then close. thanks!

[2015-09-29 17:47] nguyendtt commented on #12
@ThangPk I'm not able to get the app to work on the 2 Androids that I have (there's a bug logged for that.) @phuong37 would you kindly check when you have some time? Thanks.

[2015-09-29 17:47] phuong37 commented on #28
please delete jim's account - i will have him create a new account with a stronger password. thanks!

[2015-09-29 17:49] trietphamvm commented on #28
Still don't see Jim's account yet. I think he will be fine

[2015-09-29 17:53] ThangPk commented on #12
@nguyendtt Did you register account facebook? Could you please share the message of the log in failed?

[2015-09-29 17:55] nguyendtt commented on #12
i haven't able to use the app on my Android phones @ThangPk .  I do have a facebook account but could only try to connect on the iPhone.  The message is just "Please wait...."

[2015-09-29 17:57] phuong37 opened #30 "[iOS] - Route button on main rider screen?"
hi team, this is a question for all. as we're building out the main rider screen, i noticed that there's a route button, i'm just wondering if we need it and here's why -

-i agree that we have to guide a user to hit enter but can we do it in the iOS keyboard instead? see where it says "Search" below? just a suggestion but would love to get your thoughts
-remember that all the drivers cars will be

[2015-09-29 17:58] phuong37 commented on #28
he texted me saying that the screen is hanging on the payment screen. @nguyendtt, running to meeting. would you mind helping him? thank you!

[2015-09-30 04:03] phuong37 commented on #30
anh @trietphamvm, i've been thinking through this and we do need to the drop-off location in order to display the prices. i was testing our competitors and it was not required so i wanted to explore some more. let's leave it as is for now. thanks!

[2015-09-30 04:08] trietphamvm commented on #30
the other system don't require the drop-off, but for our app, that is required I think. Because driver can't bid if we don't have the drop-off.

The route will be displayed on the map when user select pick-up and drop-off plus the distance and estimation time before making a request.

That's my initial thought. Any comment on this?

[2015-09-30 04:13] phuong37 commented on #30
i completely agree. let's leave for now but explore later. thank you!!

[2015-09-30 04:59] phuong37 opened #31 "[Email] - Please update email template with new color scheme"
Sorry, we just got a chance to update the email template with the new color. Please see attached. It's also in the DAR google drive.

Thank you!
Phuong

![dar_email_update](https://cloud.githubusercontent.com/assets/14860705/10184746/0e72218e-66f5-11e5-8988-897cb27c9e5c.png)

[2015-09-30 05:03] trietphamvm commented on #31
Which color did you change? The "A" character in DealARide need to be "a" as well. Thanks.

[2015-09-30 05:08] phuong37 commented on #31
Color should be - #28AAE0

![dar_email_v3_updated](https://cloud.githubusercontent.com/assets/14860705/10184855/8c060e66-66f6-11e5-960f-abfa7bd57826.png)

Updated in Google Drive as well.

Thanks!
Phuong

[2015-09-30 05:09] tle960 opened #32 "[Android + iOS] - Raleway Numeric font is not aligned"
Hi TP,

I have a quick question that hopefully you have the answer to.  Railway is a great font but one issue with this font is that its numeric alignment is off. Is it possible to use another font just for numbers? That would resolve this issue quickly and efficiently.

Thanks,
Thanh

[2015-09-30 05:10] trietphamvm commented on #32
Do you have any recommendation for another font?

[2015-09-30 05:15] tle960 commented on #32
Yes, can we use Lato (google font) just for numbers? That would be great.

Thanks Tree!

[2015-09-30 05:15] phuong37 opened #33 "[iOS] - Button gets cut off when on a call or FaceTime"
when you're on FaceTime or on a call, the button at the bottom of the screen gets cut off. it should be fully viewable. thanks!
![img_0519](https://cloud.githubusercontent.com/assets/14860705/10184951/8c74966e-66f7-11e5-831a-944d2c086e72.PNG)

[2015-09-30 08:23] trietphamvm commented on #31
@phuong37 @nguyendtt , this issue is fixed at the API side, please verify again.

I just create a new Label "Resolved" for easy tracking. Both of you only verify the resolved one when receive a new release. Then close it if it's fixed, or change the label from Resolved to Re-open

This tool is not professional, so we should try the label for status tracking as workaround.
Thanks,

[2015-09-30 17:08] phuong37 commented on #31
thank you anh @trietphamvm! for some reason, i can't view the email from my phone. i can view it on my desktop web browser though - looks great! any ideas why it might not be rendering on mobile? the new "Resolved" label is a great idea!

[2015-09-30 18:29] trietphamvm commented on #31
You mean the emails from your account?

Sent from my iPhone

[2015-09-30 18:35] nguyendtt commented on #31
Yes, @trietphamvm .  The confirmation email sent out from DAR renders blank on my phone also.  Looks fine on desktop.  Another question for both of you, will we have different confirmation emails for rider and driver? I remember getting the same exact email after registering for a driver account.

[2015-09-30 18:40] trietphamvm commented on #31
You are correct, I will check the rendering on mobile tomorrow. @Phuong, can you give me difference template for rider and driver?

Sent from my iPhone

[2015-09-30 19:22] phuong37 commented on #31
Thanks chi @nguyendtt! Anh @trietphamvm, yes, will work on that today. Thanks!

[2015-10-01 03:06] phuong37 opened #34 "[Email] - Driver registration email"
chi @nguyendtt and anh @trietphamvm. the driver email has been uploaded to the google drive. thanks!

![dar_driver_email_v1](https://cloud.githubusercontent.com/assets/14860705/10212024/95902a26-67ae-11e5-8301-cafd50ffc345.png)

[2015-10-01 03:08] nguyendtt commented on #34
Looks great @phuong37

[2015-10-01 04:59] phuong37 commented on #12
anh @ThangPk and chi @nguyendtt - sorry, i didn't get notified of this. the "sign-in with facebook" button on the home screen gave me an error that said "Login failed, email or password is invalid. Try again!" is it supposed to use single sign-on and pop up a facebook dialogue?

the "sign-up with facebook" button on the create a profile screen worked though!

[2015-10-01 15:45] phuong37 commented on #4
anh @trietphamvm, chi @nguyendtt - i talked to anh lam and he said that we will make each user certify that they are disclosing truthful information. he will have a lawyer draft that up closer to launch. for now, i would suggest that we just do validation on the formatting of licenses in CO and any other state that we're launching? what do you think? so if they select CA, it will require 8 digits,

[2015-10-01 16:56] trietphamvm commented on #31
The blank email is fixed @phuong37. Please verify again and close this bug.

[2015-10-01 18:07] nguyendtt commented on #31
I have verified and this is now working accordingly on mobile @phuong37 . THanks @trietphamvm

[2015-10-01 18:09] nguyendtt commented on #31
Sorry, I meant the email renders on mobile correctly.  Reopened so @phuong37 can verify the new color scheme.

[2015-10-01 19:21] nguyendtt commented on #23
Sorry attached the wrong image, right screenshot should be attached now @trietphamvm @cuong-ubesim

[2015-10-01 22:05] phuong37 commented on #31
Sorry, for the delay! Looks great on mobile, anh @trietphamvm and chi @nguyendtt! thanks for validating chi @nguyendtt, if sign off on it, please go ahead and close. please don't wait for me, i'm only here to provide support. :)

[2015-10-01 22:06] #31 closed

[2015-10-01 22:24] nguyendtt commented on #31
Understood @phuong37. I only reopened since I realized the main reason for the ticket is the color scheme updating. :)

[2015-10-02 04:23] cuong-ubesim commented on #23
Please make sure that your device has at least Google Play Services 7.5

You can check the current version of Google Play Services by going to Settings > Applications > Application manager > Google Play Services

[2015-10-02 10:25] cuong-ubesim commented on #16
Fixed. Please wait for next release

[2015-10-02 11:19] cuong-ubesim commented on #7
Resolved on Android

[2015-10-02 15:14] phuong37 commented on #7
Ok will validate in next release. Thank you anh @cuong-ubesim!

[2015-10-02 15:14] phuong37 commented on #16
Will do, thank you anh @cuong-ubesim!

[2015-10-02 22:15] nguyendtt commented on #23
Updated to Google Play Services version 8.1.15 and the app can be launched now. Thanks.

[2015-10-02 22:15] #23 closed

[2015-10-02 22:21] nguyendtt commented on #12
I was just able to check out the app on Android and experienced the same issue that @phuong37  experienced for login in with Facebook.  Same error message from the home screen but it seems to work fine on the create a profile screen.  I'm unsure how this should work so if @ThangPk or @cuong-ubesim can walk us through how to test this, that would be great. Thanks.

[2015-10-03 04:23] cuong-ubesim commented on #32
Applied Lato google font on Android. It is really great font.

[2015-10-03 05:21] trietphamvm commented on #32
Please apply on ios as well @phucdoan

Sent from my iPhone

[2015-10-03 09:43] ThangPk commented on #12
@phuong37 @nguyendtt

We got the error message from home screen "Login failed, email or password is invalid" due to no signing up facebook account. Please try to sign up a new account with facebook (Create profile screen) and try again. Thanks.

[2015-10-03 16:16] phuong37 commented on #12
anh @ThangPk - i've tried signing up (creating a profile) first but keep getting the error "Error happen. Please try again" on the payment screen. It's not letting complete the registration using Facebook. As for signing in with Facebook, is it not possible to sign-in with Facebook before creating a profile? If it's not possible, we need to remove for all first time users.

[2015-10-04 20:52] nguyendtt commented on #12
I'm now able to sign on with Facebook through Create a Profile and get past the payment screen on Android.  After logging out, i'm now able to log back in using FB from the homescreen. I agree with @phuong37  that this is really confusing to users.  They should be able to click on "Sign in with Facebook" from Homescreen or Create a Profile regardless if they already have an account or not.  If the

[2015-10-04 20:55] nguyendtt commented on #12
![image](https://cloud.githubusercontent.com/assets/14857908/10270203/daf12df8-6aa7-11e5-922a-103efc7810ea.jpg)

[2015-10-04 21:08] nguyendtt opened #35 "[Android] Facebook Profile image appears very pixilated on DAR profile"
Profile picture imported over to DAR profile looks very pixilated both on the Create a Profile screeen and side nav.  Please see attached.
![profile](https://cloud.githubusercontent.com/assets/14857908/10270269/c0dfe3da-6aa9-11e5-9f33-73ffc5b61c98.png)

[2015-10-04 21:10] nguyendtt opened #36 "[Android] Drop down menu icon is cut off on side nav"
On the side nav, the Drop Down menu icon on the upper left is cut off.  Also please update "Adv Listings" to just "Ad Listings". Please see attached.
![profile](https://cloud.githubusercontent.com/assets/14857908/10270288/0524987e-6aaa-11e5-8eba-9c65e3ac2aea.png)

[2015-10-05 02:04] cuong-ubesim commented on #36
Fixed. Thanks!

[2015-10-05 04:11] trietphamvm commented on #4
Got it @phuong37. Please give me the format at CO ASAP

[2015-10-05 04:16] nguyendtt commented on #4
So sorry I missed this. My CO license is 94-196-2528

[2015-10-05 04:17] nguyendtt commented on #4
@trietphamvm

[2015-10-05 05:01] phuong37 commented on #4
Thank you chi @nguyendtt!

[2015-10-05 05:02] trietphamvm commented on #4
@phuong37, please confirm again so that I add the logic for checking the driver license number:

- If CO, it's always 9 digits
- If CA, it's always 8 digits and how many alphanumeric?

[2015-10-05 05:45] cuong-ubesim commented on #21
Added this hint to Android app

[2015-10-05 07:06] cuong-ubesim commented on #35
Chi @nguyendtt  Can you try with another picture to see whether it happens? If this bug is still there, share the picture you use already please. Thanks!

[2015-10-05 10:53] cuong-ubesim commented on #6
Fixed. Please wait for next build. Thanks!

[2015-10-05 11:26] cuong-ubesim commented on #6
Rendering driving direction between pick up and drop off locations as well. The app will not be hang anymore

[2015-10-05 15:27] phuong37 commented on #6
Thanks anh @cuong-ubesim! I will test in next release.

[2015-10-05 15:37] trietphamvm commented on #1
will research more and add this feature in future @phuong37. Currently we are using Google Map, still not sure Google support this.

[2015-10-05 15:39] trietphamvm commented on #4
I already add this checking logic for driver license number on API. Please update at mobile side @phucdoan  and @cuong-ubesim. Phuc, let Cuc help you to handle this.

[2015-10-05 15:40] cuong-ubesim commented on #4
Done on Android

[2015-10-05 16:23] phuong37 commented on #4
Anh @trietphamvm, please see below -

If CO, it's always 9 digits - all numeric
Format is 12-123-1234 (XX - XXX - XXXX)

If CA, it's always 8 digits - any combination of numbers and letters only, no special characters
Format is XXXXXXXX

Let me know if you need any more details.

Thanks!
P

[2015-10-05 16:25] trietphamvm commented on #4
I found this rule already Phuong, I also add for all states of US. Please check if you have enough data.

Thanks
TP

[2015-10-05 16:40] nguyendtt commented on #36
Thanks @cuong-ubesim will test again when the new build is out.

[2015-10-05 16:56] phuong37 commented on #4
Ok perfect, will do. Thanks!

[2015-10-05 21:50] nguyendtt commented on #35
Hi @cuong-ubesim , I tried creating a brand new FB account with a different picture and i'm still experiencing the same issue with pixilated image. Please see attached.  I also discovered another bug with signing up with FB that I will log separately.
![screenshot_2015-10-05-15-44-20](https://cloud.githubusercontent.com/assets/14857908/10294619/c07f171a-6b78-11e5-9eb3-1831fbcfcbf5.png)

[2015-10-05 21:53] nguyendtt commented on #35
Here are the 2 pictures, saved from Facebook.
![stella](https://cloud.githubusercontent.com/assets/14857908/10294709/3d14ca22-6b79-11e5-93f7-bb011fa61bb3.jpg)
![trinh](https://cloud.githubusercontent.com/assets/14857908/10294711/3f6e6cc4-6b79-11e5-8b3f-f7fbcbefe0db.jpg)

[2015-10-05 23:01] nguyendtt opened #37 "[Android] Able to use app in horizontal orientation"
While signing up for a new account on Android, I accidentally discovered that the app will also render on horizontal orientation.  Of course the graphics don't render correctly and if you were in the middle of the create a profile screen with your picture already uploaded and the phone went sideway, the picture will disappear and doesn't save.  This is only happening on Android, iOS seems to be fi

[2015-10-06 01:08] nguyendtt opened #38 "[Android] Issues on payment screen"
The Talked to Phuong, she doesn't have much issues with this on the big Samsung S6 Edge but on a smaller phone like Moto X, it was very difficult for me to click on the fields. I had to click at the very left edge of every field like "Expiration date" in order to input. It makes it even more difficult to go back and edit if you input the wrong information. Users should be able to click anywhere on

[2015-10-06 02:29] cuong-ubesim commented on #12
Agreed chi @nguyendtt . Will include this enhancement in next build. Thanks!

[2015-10-06 02:33] cuong-ubesim commented on #12
If they click on "Sign in with Facebook" from Homescreen and they don't already have an account, it should make the connection with Facebook and bring user back to the Create a Profile screen with their FB profile prepopulated.

[2015-10-06 02:38] phuong37 commented on #1
ok, thank you anh @trietphamvm!

[2015-10-06 02:42] phuong37 commented on #12
that sounds perfect to me, anh @cuong-ubesim! chi @nguyendtt?

[2015-10-06 02:47] nguyendtt commented on #12
I think that's fine @cuong-ubesim and @phuong37

[2015-10-07 04:17] cuong-ubesim commented on #1
It looks like that Google Places API supports some other types we can use in pick-up and drop-off autocomplete textboxes. For now, Android app are using geocode type.

Please refer to https://developers.google.com/places/supported_types and https://developers.google.com/places/web-service/autocomplete for more details.

[2015-10-07 04:26] phuong37 commented on #1
thanks anh @cuong-ubesim - that sounds good

[2015-10-07 17:45] nguyendtt opened #39 "[iOS + Android] Update "Phone number" field to "Mobile phone number""
Chatted with @trietphamvm  on this. On the create profile screen for both Rider and Driver, please update "Phone number" to "Mobile phone number".  I was able to enter my office (landline) number for my profile and landline numbers cannot receive text confirmation code.  Since the format for landline and mobile are the same in the US, it will be difficult to detect if the number is not mobile.  Th

[2015-10-07 18:45] cuong-ubesim commented on #39
Done on Android

[2015-10-07 19:26] nguyendtt commented on #39
Thank you @cuong-ubesim

[2015-10-07 19:32] nguyendtt commented on #25
Question on this, if a user signs up for a rider account, then later signs up for a driver account, can they use the same email address/phone number or they have to be different?  I think later on we will have the option for rider to sign up as a driver but can you confirm how it should work now? Thanks. @trietphamvm

[2015-10-08 02:06] cuong-ubesim commented on #25
Rider has to use BECOME DRIVER functionality to upgrade her account from RIDER to DRIVER, chi @nguyendtt

[2015-10-08 02:09] nguyendtt commented on #25
Got it, that answers my question.  So from the home screen, they will have to use a different email address/phone number. Thanks @cuong-ubesim

[2015-10-08 02:31] phuong37 commented on #25
Wait sorry, I thought it was one account anh @cuong-ubesim, chi @nguyendtt, and @trietphamvm

[2015-10-08 02:32] phuong37 commented on #25
You create one rider account and "upgrade" to driver to access both?

[2015-10-08 02:34] cuong-ubesim commented on #25
That's correct, @phuong37 . After upgrading to DRIVER, the user can work as either RIDER or DRIVER with one account. It depends on which option the user wants.

[2015-10-08 02:39] nguyendtt commented on #25
Sounds like there's not a screen created for that @phuong37 ? To choose between Rider and Driver account once you log in. Will this be a launch feature?

[2015-10-08 02:56] phuong37 commented on #25
Hi chi @nguyendtt - you can log out and in as rider/driver in the side nav. We just need to make sure that the updated side nav from the google drive is implemented, not the current one. I need to log a bug for that, sorry!

[2015-10-08 03:19] phuong37 opened #40 "[Android & iOS] Driver Side Nav"
Please update driver side nav to the attached side nav. The only thing that needs to be removed is the "Add Driver Listings" because that's part of the marketplace functionality.

Thanks!
Phuong

![dar_main_driver_side_nav](https://cloud.githubusercontent.com/assets/14860705/10356891/9ca3596e-6d30-11e5-8906-d4439a0679a3.png)

[2015-10-08 03:36] nguyendtt commented on #25
I see that screen now @phuong37 . Thanks.

[2015-10-12 11:15] phucdoan commented on #40
iOS has updated

[2015-10-18 08:03] cuong-ubesim commented on #40
Done

[2015-10-18 08:10] cuong-ubesim commented on #2
UI got updated, but functionality is not implemented fully. I resolved this item as UI added. Please create another item when you guys find issue on it. Thanks!

[2015-10-18 08:10] cuong-ubesim commented on #3
Done.

[2015-10-18 15:53] ThangPk commented on #12
"Another thing is that, after DAR made the connection with FB, before returning me to the rider screen, I received this confirmation "You have already authorized DealARide" (see attached, sorry for bad picture) regardless if I'm a returned user or a first-time user. Is this step necessary and can we eliminate it?"

This is an issue on facebook sdk, it's resolved if having native FB app.

More info

[2015-10-18 15:58] nguyendtt opened #41 "[~iOS] Country flag is wrong on My Profile"
When creating an account, the country flag on the mobile phone number field shows the correct US flag, however within My Profile, it shows some ran
![img_3273](https://cloud.githubusercontent.com/assets/14857908/10564804/d391ea52-757e-11e5-8383-d3254b4fabd7.PNG)
dom flag.

[2015-10-18 16:05] nguyendtt opened #42 "[~iOS] Map search is not very sensitive with local destinations"
Not sure if this feature is completely implemented but when trying to search a location or address on Map search, it doesn't show the closest location.  For example, I typed in "King Soopers", there is a King Soopers supermarket 2 miles away, however the search results display only one King Soopers that is 25 miles away.  I also started typing my work  address "8900 Liberty" and it shows me addres

[2015-10-18 16:20] nguyendtt opened #43 "[iOS] cannot clear account signed up with Facebook"
Please let me know if there's a way to clear my account when Facebook login was used.  I used the link Triet provided http://dealaride-staging.azurewebsites.net/api/user/delete?email=nguyendtt@hotmail.com and it doesn't seem to clear.  Can you help?

[2015-10-18 16:24] phuong37 opened #44 "[iOS] - forgot password validation error needs to change to blue"
Please change validation orange validation error to blue.

#28aae0

![image](https://cloud.githubusercontent.com/assets/14860705/10564933/784c67b2-7579-11e5-91c6-49991c0780fd.png)

[2015-10-18 16:28] phuong37 opened #45 "[iOS] - disable ability to select different countries for phone number"
Let's disable the functionality to select different countries in the phone numbers for now.

-Default to USA
-Disable clicking on map to bring up other countries (we will enable later)

[2015-10-18 16:37] phuong37 opened #46 "[iOS] - keep password hint on screen while active in the input box"
please keep the password hint on the screen while the user is active in the password box.

to make it easier to read, please update the password hint message to:

Password Hint:
-Minimum 6 characters
-At least 1 lowercase and 1 uppercase character
-At least 1 digit

[2015-10-18 16:44] phuong37 opened #47 "[iOS] - add rider create profile validation error messages"
add rider create profile validation error messages at top when user submits

Email Error
-Please enter a valid email address

Password
-Passwords must be 6 characters, 1 upper and lowercase, and 1 digit
-Passwords don't match

Mobile Number
-Please enter valid mobile number

[2015-10-18 16:48] nguyendtt opened #48 "[~iOS] Under"

[2015-10-18 16:52] phuong37 opened #49 "[iOS] - phone number must be 10 digits"
US phone numbers must be 10 digits

If you can format in this way, it would be great:
(xxx) xxx-xxxx

thanks,
p

[2015-10-18 16:52] trietphamvm commented on #49
Please make this as enhancement :)

[2015-10-18 16:56] phuong37 commented on #49
anh @trietphamvm - done! thanks!

i just saw the validation message flash on before moving to the next screen for phone number. that is a bug. I will enter. it should not allow me to move to the next screen with an invalid phone number.

[2015-10-18 16:56] nguyendtt commented on #48
When trying to register for a driver's account from rider account, I kept getting the "Under 21 years old" error that would not let me save.  The screengrab has a fake driver's license but even if I put in my correct driver's license number, I'm still getting the same error.  How do we determine how old the user is?  Also as Phuong mentioned in another ticket, the message box is orange, needs to b

[2015-10-18 17:00] trietphamvm commented on #48
For error message, the backgroud should be red and text should be white will be more make sense. @phuong37, any comment?

[2015-10-18 17:00] phuong37 opened #50 "[iOS] - if any information is invalid, do not allow users to move onto the next screen"
even though i didn't enter a valid phone number, i was able to move forward to the payment screen.

please make sure users fix all errors before allowing them to move forward.

![img_3931](https://github-cloud.s3.amazonaws.com/assets/14860705/10565167/0673f172-757f-11e5-9b09-08e8c74c73c2.PNG)

[2015-10-18 17:05] phuong37 commented on #48
anh @trietphamvm - yes, we can do that, however, if you are keeping it at the top it will blend into the background. making the background red will be too much.

your way would be better if the error is underneath each field. thoughts?

[2015-10-18 17:08] nguyendtt commented on #39
This is resolved. Closing.

[2015-10-18 17:08] #39 closed

[2015-10-18 17:09] trietphamvm commented on #48
Don't put underneath each field. This is mobile app, not web. We don't have much room for it. Temporary put there, we will consider on this again.

[2015-10-18 17:09] nguyendtt commented on #17
Can connect using FB now. Closing.

[2015-10-18 17:13] phuong37 commented on #48
@trietphamvm - ok, leave as is but blue instead of orange then. to be revisited later. thanks!

[2015-10-18 17:15] phuong37 opened #51 "[iOS] - add dar logo to facebook login screen"
minor but please complete before launch.

![img_3932](https://github-cloud.s3.amazonaws.com/assets/14860705/10565243/fdfa2708-7580-11e5-82c1-8add90d8c0e5.PNG)

[2015-10-18 17:16] nguyendtt commented on #27
@phuong37  I can't tell if the form field height has been updated, would you please verify.
@phucdoan There are still typos/mispellings on the "Select an Image" or "Select an image to change your avatar" popup.  They should be "Photo Gallery" and "Take a Picture".  Currently they read "Photo Gallary" and "Take a picture"

![img_3275](https://github-cloud.s3.amazonaws.com/assets/14857908/10565229/e

[2015-10-18 17:21] nguyendtt opened #52 "[~iOS] Driver Registration - Words "License" and "Special" are spelled wrong"
On Driver's Registration form, the word "License" and "Special" are spelled wrong.  They are currenlty spelled "Lincense" and "Spacial".  Please check all instances.
![img_3280](https://github-cloud.s3.amazonaws.com/assets/14857908/10565271/10532586-758a-11e5-88cf-714121c28a89.PNG)
![img_3280](https://github-cloud.s3.amazonaws.com/assets/14857908/10565287/6737cde8-758a-11e5-9f72-e8f7705062bd.PNG)

[2015-10-18 17:39] nguyendtt opened #53 "[~iOS] cannot install app on iOS 8.4"
Installation went fine with iPhone 5S version 9.1 but cannot install on iPhone 5s version 8.4.  I have 2.9gb storage on my device so should be able to install.  Please see attached image for error message.

Note: I was able to install the first release on iOS 8.4 last time, but it was an iPhone 5c instead of 5s.

![84](https://github-cloud.s3.amazonaws.com/assets/14857908/10565412/dd097b82-758c-11

[2015-10-18 17:42] phuong37 commented on #12
anh @ThangPk - my app crashes every time I click "ok" from the "you have already authorized DealaRide" screen. I have the native app installed and have tried logging in and out of my account.

[2015-10-18 17:43] nguyendtt commented on #53
UDID was not provided.  Closing for now.

[2015-10-18 17:43] #53 closed

[2015-10-18 17:45] phuong37 commented on #17
anh @phucdoan / @trietphamvm, chi @nguyendtt  - my app crashes every time I click "ok" from the "you have already authorized DealaRide" screen. I have the native app installed and have tried logging in and out of my account. i am still unable to move forward with the "sign-in with Facebook" button on the home screen.

[2015-10-18 17:47] nguyendtt commented on #17
Ok @phuong37

[2015-10-18 17:59] trietphamvm commented on #51
Phuong, can you give me the logo with size 1024x1024, not sure why facebook ask for that size.

[2015-10-18 18:05] nguyendtt opened #54 "[~iOS] Password hint disappears too quickly"
When trying to input the password or when I input a not strong enough password, the Password Hint appears and disappears too quickly, not allowing enough time for user to read the criteria.  Can we leave the Hint on for at least 3 seconds?  It appears for less than half a second for me.

Also, can we spell out the word "characters" instead of just "chars". Seems like we have enough room for the fu

[2015-10-18 18:14] phuong37 commented on #51
anh @trietphamvm - Let me know if this works!

![dar_app_logo_1024](https://github-cloud.s3.amazonaws.com/assets/14860705/10565601/5ad6da90-7589-11e5-880a-368ea302e08e.png)

[2015-10-18 18:34] phuong37 opened #55 "[iOS] - all blues in the app should be HEX #28AAE0"
I'm seeing inconsistent shades of blue. Please ensure all blues are #28AAE0, including fonts, backgrounds, buttons, etc.

thanks!
p

[2015-10-18 18:37] phuong37 opened #56 "[iOS] - vehicle type spacing for iPhone 6+"
please evenly space out vehicle types for the iPhone 6+.

![img_3934](https://github-cloud.s3.amazonaws.com/assets/14860705/10565722/9fcbeffc-758c-11e5-9eac-15903b79a665.PNG)

[2015-10-18 18:39] phuong37 opened #57 "[iOS] - distance should be displayed in miles instead of kilometers"
please display distance in miles instead of kilometers.

![img_3934](https://github-cloud.s3.amazonaws.com/assets/14860705/10565734/e7a6dc24-758c-11e5-9c5f-08c65aba27e2.PNG)

[2015-10-18 18:42] phuong37 opened #58 "[iOS] - request ride, update display format for time"
instead of military time (24:00), please update to am and pm.

example:

11:15 am
12:30 pm

![img_3935](https://github-cloud.s3.amazonaws.com/assets/14860705/10565751/33cae80c-758d-11e5-8754-a95a215e888a.PNG)

[2015-10-18 18:45] nguyendtt opened #59 "[~iOS] Make First Name and Last Name fields required fields"
Currently, I'm able to save and move on to the Payment screen without having to put in First or Last Name on the Create a Profile screen.  Please make them required fields.
![lastname](https://github-cloud.s3.amazonaws.com/assets/14857908/10565766/22daf0e2-7596-11e5-9429-1e527c1100d4.PNG)

[2015-10-18 18:53] phuong37 opened #60 "[iOS] - rider logout screen, to keep consistent, please keep all cancel buttons gray"
to keep consistent, please keep all cancel buttons gray.

[2015-10-18 19:03] nguyendtt opened #61 "[iOS] Cannot get passed Enter Confirmation Code"
Created a rider account on iOS 9.1, received the confirmation code 720380 on both text and email but when I go to Enter Confirmation Code, it initiated the verification but comes right  back to the same screen without letting move forward.  I also
![invaliduser](https://github-cloud.s3.amazonaws.com/assets/14857908/10565948/9057f0f0-7598-11e5-9d2f-4d3c308e89bc.PNG)
 tried "Resend code" and got the

[2015-10-18 19:08] nguyendtt commented on #54
Closing it's a duplicate

[2015-10-18 19:08] #54 closed

[2015-10-18 19:21] nguyendtt commented on #61
I'm able to confirm after clearing phone number and email address several times.  I'll leave the ticket open just in case you see something in the code.  If everything looks good, please mark as resolved @phucdoan

[2015-10-18 19:23] phuong37 commented on #52
also, update "misdermeanor" to "misdemeanor" - remove "r" in "der"

[2015-10-18 19:31] phuong37 opened #62 "[iOS] - driver registration, US postal code should be 5 digits"
Should not be able to put more than 5 digits for postal code. If we want, we can do zip+4 (9 digits), which is just extra validation. we can accept 5 or 9 digits but not more.

5 will keep it simple but let me know what you think.

format:
XXXXX
or
XXXXX-XXXX

[2015-10-18 19:33] phuong37 commented on #48
also, we should not allow users to select a future birthdate [current date forward]. that would be a bug.

[2015-10-18 19:40] phuong37 opened #63 "[iOS and Android] - all gray color should be HEX #888888"
there's some inconsistencies with font color, drop-down boxes, borders, etc.

please update all gray to hex #888888

![img_3939](https://github-cloud.s3.amazonaws.com/assets/14860705/10566213/4aa8a4a8-7595-11e5-80ec-acbb7c4df497.PNG)

[2015-10-18 19:47] phuong37 commented on #48
and, please display birthdate as: mm/dd/yy instead of dd/mm/yy. thank you!

[2015-10-18 19:57] phuong37 opened #64 "[iOS] - all dates should be mm/dd/yyyy"
in birthdate, driver license exp, and insurance policy exp date

[2015-10-18 20:03] phuong37 opened #65 "[iOS] - unable to complete driver registration, system error"
there were no validation errors other than "system error, something went wrong! please try again."

![img_3941](https://github-cloud.s3.amazonaws.com/assets/14860705/10566302/84658f82-7598-11e5-892d-82327f7bca87.PNG)

[2015-10-18 20:06] phuong37 commented on #65
also, unable to go back. should have back arrow on all registration flows (top left hand corner).

[2015-10-18 20:07] phuong37 opened #66 "[iOS] - driver registration, unable to add second vehicle"
when i click on link to add second vehicle, it doesn't do anything.

[2015-10-18 20:13] phuong37 commented on #34
I received the driver email, closing issue.

[2015-10-18 20:13] #34 closed

[2015-10-18 20:14] phuong37 commented on #28
chi @nguyendtt and i have validated and we are able to get past the payment screen, closing bug.

[2015-10-18 20:14] #28 closed

[2015-10-18 20:17] nguyendtt commented on #21
Now works for both iOS and Android.

[2015-10-18 20:17] #21 closed

[2015-10-18 20:19] nguyendtt opened #67 "[Android] Driver Registration issues"
Please review the list of years for vehicle.  As you can see, 1996 is missing and 1906 is in its place.  Same for 1992, 1994, 1990.  Please be sure and check them all.

Also, when I select a make for a car (ex. Lexus), I can't find the model of the car (ES300).  Plus i think the list of models is kind of messy.  Can we filter out, let's say if user select "Lexus" it will show only all the Lexus mo

[2015-10-18 20:21] nguyendtt commented on #37
I'm still able to use app in horizontal orientation.  Sending this back.

[2015-10-18 20:22] nguyendtt commented on #37
@ThangPk @cuong-ubesim

[2015-10-18 20:24] phuong37 opened #68 "[iOS] - driver registration, add "seats" and "door" after the number"
since we are unable to delete entered fields, please add the words "seats" and "door" to the drop-down numbers.

example:

"2 seats"
"4 door"

[2015-10-18 20:28] phuong37 opened #69 "[iOS] - need to be able to update vehicle information"
this one is for the creative team.

we need to be able to allow users to update vehicle information in the driver side nav or account settings.

@tle960, please look into and update screen.

[2015-10-18 20:29] nguyendtt opened #70 "[Android] Login as Rider icon small and not transparent"
On the Driver side nav, the Login as Rider icon is somewhat smaller than the rest of the icons and it's also not transparent. Do we have this icon @phuong37 @cuong-ubesim ?

![sidenav](https://github-cloud.s3.amazonaws.com/assets/14857908/10566441/6daa6c3e-75a4-11e5-91bc-ca033205009a.png)

[2015-10-18 20:36] nguyendtt opened #71 "[iOS + Android] Cannot see ride quest from Driver portal"
I requested a ride on the iPhone 9.1 from "10394 Rutledge St. Parker Co 80134" to "8900 Liberty Circle, Englewood 80112", estimate is 7mins 27secs with account danh303@gmail.com.  When I log into the Driver's account nguyendtt76@gmail.com on Android, I don't see this request anywhere although I did see a couple requests from @ThangPk .  Not sure if it's an issue on the driver side or rider side.

[2015-10-18 20:36] phucdoan commented on #55
Ok Phuong!
#28AAE0 - Blue color
Please confirm this code in Generic RBG palette, iOS using it
![image](https://cloud.githubusercontent.com/assets/2927321/10566489/667b5e8c-7612-11e5-8bca-97a26d636b52.png)

Thanks
Phuc

[2015-10-18 20:42] phuong37 commented on #55
anh @phucdoan, you should be sleeping. :) yes, please. generic RGB works.

In case you need it:
R: 40
G: 170
B: 224

thank you!
p

[2015-10-18 20:45] phuong37 opened #72 "[iOS] - main driver, unable to view any ride request"
i'm using an old driver account that i registered with last time (ptle303@yahoo.com) and am unable to see any of the ride requests that i made nearby as a rider (phuong37@gmail.com).

could be a duplicate as chi @nguyendtt's

![img_3942](https://cloud.githubusercontent.com/assets/14860705/10566536/77164794-759e-11e5-8d22-2abad86d5c6f.PNG)

[2015-10-18 20:45] phuong37 commented on #72
link to bug #71

[2015-10-18 20:52] nguyendtt opened #73 "[iOS] No confirmation for password change"
I'm able to update the profile picture and password from the side nav however it might be a little confusing to user without the "Password has been changed successfully" or "Password updated" message at the bottom.  It looks like the password took affect but the bottom message is still "Change password".
![password](https://cloud.githubusercontent.com/assets/14857908/10566558/c519e654-75a7-11e5-8e

[2015-10-18 21:03] phuong37 opened #74 "[iOS] - updating price settings does not get saved when i log back in"
updating price settings does not get saved when i log out and back in as a driver.

it resets to default settings.

[2015-10-18 21:35] phuong37 commented on #65
i tried adding a new driver and the app crashed when i tried to complete registration. however, when i tried logging in using the new account info, it did let me login but made me verify the account.

anh @phucdoan, anh @trietphamvm - should the verify account come before the driver registration (after payment) or at the end when you complete driver registration?

right now, it doesn't show up unt

[2015-10-18 21:39] nguyendtt opened #75 "[iOS + Android] Log in/Log out vs. Login/Logout"
Please update all instances of "Login" and "Logout" on the Home Screen and Side Nav to "Log in" and "Log out".

@phucdoan assigning to you first.  Please reassign to @cuong-ubesim when you're done. Thanks.

[2015-10-18 21:42] nguyendtt opened #76 "[iOS] Cannot see my request after log back in account"
I requested a ride from my account, log out and log back in and don't see the request anymore.  I had to start over.  I think when log back in, i should still be able to see what I previously requested unless I have hit cancelled, which I didn't.

[2015-10-18 21:47] phuong37 opened #77 "[iOS] - driver registration should auto-assign a driver ID"
the driver ID should be displayed in parenthesis next to the driver name

Phuong Le (ID: 12345)

[2015-10-18 22:15] nguyendtt opened #78 "[Android] Cannot accept ride requests"
I'm seeing two requests from @ThangPk, one for "Ride quest" and another is the "Make Offer", but when i click "accept" for both, nothing happens.  For "Ride Request", it doesn't seem to let me click "Accept" and for the "Offer by Customer", I can click and it seems to initiate something but after that, it just goes back to the same request.
![screenshot_2015-10-18-16-10-44](https://cloud.githubuse

[2015-10-18 22:27] nguyendtt opened #79 "[Android] price setting is off by 1 cent"
When setting the price, log out and log back in, you will see that the price per mile is off by 1 cent.  I set up 1.28 and it comes back as 1.27.  Tried several times with same results.

[2015-10-18 22:28] nguyendtt commented on #78
This bug might be premature, if so, please go ahead and close.

[2015-10-18 22:37] nguyendtt opened #80 "[Androis] no date/time picker for Reserved Ride"
Currently user has to input the date and time instead of selecting from a picker.  This is not the best user experience.  Also, there's no indication of AM or PM on the time.  Can we add that as well?
![screenshot_2015-10-18-16-36-23](https://cloud.githubusercontent.com/assets/14857908/10567083/8179ff92-75b6-11e5-86ad-2fcc9e72407d.png)

[2015-10-18 22:47] nguyendtt opened #81 "[iOS + Android] Inconsistent Log out functionality"
@tle960 I'm seeing some inconsistency for log out between iOS and Android. For Android, log out option is at the bottom of the side nav vs. in Settings for iOS.  Would you please take a look and recommend a consistent treatment for it? Thanks.

[2015-10-18 22:51] nguyendtt opened #82 "[Android] Password hint not consistent with iOS"
Password hint for Android is set at the minimum of 7 characters while iOS is 6.  Please keep it consistent and update it to "Minimum of 6 characters"/

[2015-10-18 22:54] phuong37 commented on #67
can we show the full model and vehicle type? it's cut off in the drop-down. i know some of them are long but maybe we can put it on it's own line? it might be ok but wanted to get your thoughts.

[2015-10-18 22:56] nguyendtt opened #83 "[iOS] cannot search for driver"
I'm sitting in the same spot, using iOS for rider and Android for driver.  Search for female  driver and also by driver name on iOS rider account but after  hit apply, nothing happens.  My driver account was active and logged in at the search.

[2015-10-18 23:03] nguyendtt opened #84 "[Android] "Unfortunately DealaRide has stopped" error"
Happened a couple of times on Android today, both on Rider and Driver accounts.  I would put the phone down for a few minutes then pick up the phone to see the message.  The app had crashed and I had to re-launch again.
![screenshot_2015-10-18-16-59-50](https://cloud.githubusercontent.com/assets/14857908/10567214/26b70ca4-75ba-11e5-8a19-00a9cc3129ae.png)

[2015-10-18 23:05] nguyendtt commented on #36
Side nav is now replaced with the dots so this is no longer an issue.

[2015-10-18 23:05] #36 closed

[2015-10-18 23:05] phuong37 commented on #16
validated!

[2015-10-18 23:05] #16 closed

[2015-10-18 23:12] phuong37 commented on #9
anh @ThangPk - please make sure all arrows have the same buffer. on some screens it has the padding and others it doesn't. (i.e. create profile screen / facebook sign-in button arrow). thanks!

[2015-10-18 23:33] phuong37 opened #85 "[Android + iOS] - Forgot password flow inconsistencies"
Android requires email and phone number
iOS email only
-i don't think it's necessary to do both but how about mobile phone only and email optional?

Android allows option to resend code
iOS change password option only
-let's allow option to do both (resend code and change password)

iOS provides user feedback messaging, "input the code that has been sent to your email. enter a new password."
Andro

[2015-10-18 23:37] phuong37 commented on #2
ok, yes, UI loads - we will add issues accordingly. thanks!

[2015-10-18 23:37] #2 closed

[2015-10-18 23:38] phuong37 commented on #47
for anh @cuong-ubesim too.

[2015-10-18 23:52] phuong37 opened #86 "[Android] - main rider, should display pin with profile image"
right now it just displays default pins. let's keep consistent with iOS.

![screenshot_2015-10-18-16-46-41](https://cloud.githubusercontent.com/assets/14860705/10567403/a207d20a-75b8-11e5-9285-fd62545cc170.png)

[2015-10-19 00:04] phuong37 opened #87 "[Android] - reason for canceling pop-up"
I like the idea but we should also let them cancel if they don't put in a reason.

when they cancel, it should cancel the ride and we can collect data afterward.

[2015-10-19 00:05] phuong37 commented on #87
@phucdoan - i think it's a good feature to add for iOS as well. again we want to cancel when they hit cancel, but we can pop this up so that we can collect data. thanks!

[2015-10-19 00:17] phuong37 commented on #66
anh @cuong-ubesim, same issue

[2015-10-19 00:32] phuong37 opened #88 "[Android] - update make offer validation error message"
if i don't enter a price in the make offer tab, it says "Error happen. Please contact support."

Instead, please update to: "Enter an offer for your ride."

[2015-10-19 00:33] phuong37 commented on #30
love how this was resolved. thank you!

[2015-10-19 00:33] #30 closed

[2015-10-19 00:37] phuong37 commented on #72
adding anh @cuong-ubesim

[2015-10-19 01:01] phuong37 opened #89 "[iOS] - main rider tabs, allow swiping as Android does"
please allow swiping left/right between make offer, ride now, and reserve ride.

[2015-10-19 01:15] phuong37 commented on #77
adding anh @cuong-ubesim

[2015-10-19 01:21] phuong37 opened #90 "[Android] - requires double-tap to expand main rider options"
in some cases, more than 2 taps, even after i've entered pick up and drop off location. it should be 1 tap.

[2015-10-19 01:31] phuong37 commented on #7
anh @cuong-ubesim, since you put the message below the box, can you please say update to say "above,"

"A confirmation code has been sent to your phone and email. Please enter it above to verify your account. "

thanks!
p

[2015-10-19 01:33] phuong37 commented on #63
adding @cuong-ubesim

[2015-10-19 01:39] phuong37 opened #91 "[Android] - birthdate field should allow dates only"
right now it allows string. please make it the same as what you're using for driver license expiration date.

[2015-10-19 01:41] phuong37 commented on #62
adding anh @cuong-ubesim

[2015-10-19 01:46] phuong37 commented on #85
adding anh @phucdoan

[2015-10-19 02:26] nguyendtt commented on #25
This is now resolved.

[2015-10-19 02:26] #25 closed

[2015-10-19 02:30] nguyendtt commented on #11
Drop down to choose different countries is not available anymore.  Only US is present. Closing.

[2015-10-19 02:30] #11 closed

[2015-10-19 02:34] nguyendtt commented on #7
Resolved on iOS.  Will close when message for Android is updated.

[2015-10-19 03:04] nguyendtt opened #92 "[iOS + Android] There is not a way to update email address"
When clicking Edit Profile on the side nav, i'm only able to update my picture, First, Last Names and phone number but not email address.  I also feel that when a phone number or email is updated, a confirmation code should be sent out again to verify.  Can we think through about this flow, @tle960 ?

[2015-10-19 03:04] nguyendtt commented on #92
![img_3273](https://cloud.githubusercontent.com/assets/14857908/10568924/c8f540dc-75db-11e5-81b4-622481088006.PNG)

[2015-10-19 03:09] trietphamvm commented on #71
This feature is not completely done yet. They didn't include the feature in the release notes.

Sent from my iPhone

[2015-10-19 03:11] trietphamvm commented on #65
This is a bug on iOS Phuong

Sent from my iPhone

[2015-10-19 03:19] trietphamvm commented on #85
Email is required, phone number is optional guys. The other direction is not allowed.

Sent from my iPhone

[2015-10-19 03:20] nguyendtt commented on #19
This is still not resolved @phucdoan .  I can still select a different county from the Create a Profile and Edit Profile. There is another bug listed for Edit Profile.

[2015-10-19 03:25] trietphamvm commented on #92
Email is not allowed to change.

Sent from my iPhone

[2015-10-19 03:26] trietphamvm commented on #92
Not allow to do this.

Sent from my iPhone

[2015-10-19 03:26] nguyendtt commented on #35
This is no longer an issue. Closing.

[2015-10-19 03:26] #35 closed

[2015-10-19 03:27] phuong37 commented on #85
@trietphamvm ok, sounds good!

[2015-10-19 03:33] nguyendtt commented on #92
Is there a reason for this @trietphamvm @phuong37 ?

[2015-10-19 03:39] trietphamvm commented on #92
This is very popular in almost app when the email is the identity of the user chi Trinh.

[2015-10-19 03:39] phuong37 commented on #92
chi @nguyendtt - i believe email is the unique identifier that creates the account, thus, it must be locked for each account.

[2015-10-19 03:45] nguyendtt commented on #3
Still not 100% accurate dependding on where I sit in the house but it is close enough. Closing.

[2015-10-19 03:45] #3 closed

[2015-10-19 04:05] phucdoan commented on #43
Please update URL to delete existed account to:
http://dealaride-staging.azurewebsites.net/api/user/delete?email=nguyendtt@hotmail.com
=> http://dealaride-qa.azurewebsites.net/api/user/delete?email=nguyendtt@hotmail.com

Sry chi Trinh, we update to new server on this build.
This is missing.

[2015-10-19 04:06] cuong-ubesim commented on #84
Knew the root cause. The fix will included in next build. Thanks!

[2015-10-19 07:10] nguyendtt opened #93 "[iOS + Android] Rider side nav inconsistencies"
I'm seeing some inconsistency between the iOS and Android rider side nav.  I think the iOS one is more correct but could use some help from @tle960 to verify.  I will attach two screengrabs from iPhone on this comment and two screengrabs from Android on the next comment.
![img_3291](https://cloud.githubusercontent.com/assets/14857908/10571609/1dfea024-75fe-11e5-8b2f-173f13bf45c5.PNG)
![img_3292](h

[2015-10-19 07:11] nguyendtt commented on #93
From Android: more nav items and no option to change password:

![screenshot_2015-10-18-23-59-49](https://cloud.githubusercontent.com/assets/14857908/10571629/3b5906e6-75fe-11e5-92ea-95f5821e6c0a.png)
![screenshot_2015-10-18-23-59-35](https://cloud.githubusercontent.com/assets/14857908/10571632/40aee8fe-75fe-11e5-9c77-8054b3f61f5f.png)

[2015-10-19 07:19] nguyendtt commented on #38
No longer having issues entering payment info on Android.

[2015-10-19 07:19] #38 closed

[2015-10-19 15:38] cuong-ubesim commented on #93
You are not able to see "Change my password" here because you are logging in as FB account. It does not make sense to allow you to change password here.

We discussed this issue before, and agreed to hide it. Perhaps iOS missed it.

[2015-10-19 19:35] nguyendtt commented on #92
Ok that's fine, I will close this ticket.  @trietphamvm @phuong37

[2015-10-19 19:35] #92 closed

[2015-10-19 19:38] nguyendtt commented on #32
@tle960 @phuong37 can you help me validate this ticket? I want to make sure the correct font is applied.

[2015-10-19 19:40] nguyendtt commented on #17
Removed "Resolved" since @phuong37 still has issues with connecting using FB log in @phucdoan

[2015-10-19 19:51] phucdoan commented on #93
iOS was updated.

[2015-10-19 20:14] phucdoan commented on #75
iOS updated

[2015-10-19 20:23] nguyendtt commented on #65
I didn't receive the system error with the latest iOS build however clicking Complete Registration does nothing for me.  I have the same question regarding the confirmation as well.  The confirmation code is sent after payment is added howeve since registration cannot be completed for Driver, we have to log back in to confirm the account.  Please confirm the flow @trietphamvm @phucdoan

[2015-10-19 20:29] nguyendtt commented on #75
This change isn't ready for test yet right @phucdoan ? I'm still seeing Login/Logout on the latest build.

[2015-10-19 20:33] phucdoan commented on #68
I think it is "4 doors", right?

[2015-10-19 20:34] nguyendtt opened #94 "[iOS] Unable to reset password in Driver account"
Keep getting an "Error" message when trying to reset password of a driver's account.  No issue  updating with rider's account.  Tried on 2 different driver's accounts with same results.  Also tried "Log in as Rider" to see if I can reset the password there but no luck either, same issue.
![passworderrordriver](https://cloud.githubusercontent.com/assets/14857908/10590547/7f724ebc-766e-11e5-8413-55f

[2015-10-19 20:42] nguyendtt commented on #12
This is now resolved.

[2015-10-19 20:42] #12 closed

[2015-10-19 20:43] nguyendtt commented on #57
This is now resolved.

[2015-10-19 20:43] #57 closed

[2015-10-19 20:59] nguyendtt commented on #26
Sending this back @phucdoan .  Please update "Forgot your Password!" to match with comp to ""Forgot your Password?" with the question mark. Thanks.

[2015-10-19 21:00] phuong37 commented on #93
perfect, Android is correct. however, we need to add update vehicle information under account. @tle960, let's discuss more later.

there are different states -

rider, not yet driver shows "become a driver"
rider, already driver, shows "login as driver"
driver should have same nav, but updated with vehicle information

per your email, chi @nguyendtt, i will work with the team to update navs with c

[2015-10-19 21:01] nguyendtt commented on #6
The issue seems to be resolved.

[2015-10-19 21:01] #6 closed

[2015-10-19 21:04] nguyendtt commented on #58
Will wait until the next release to test this. Latest build doesn't have this resolved @phucdoan

[2015-10-19 21:06] nguyendtt commented on #9
Removing "Resolved" to send back to @ThangPk

[2015-10-19 21:08] nguyendtt commented on #5
Image overlapping is no longer an issue however I'm seeing that for Android, the app forces me to crop all images to a square shape.  I think it's ok with the profile picture but for driver registration and vehicle information, images shouldn't have to be square @ThangPk @cuong-ubesim

[2015-10-19 21:09] nguyendtt commented on #5
Let me know if you prefer to open a brand new bug for the image square cropping. Thanks.

[2015-10-19 21:10] phuong37 commented on #68
anh @phucdoan, good point. in English, yes it should be, however, for some reason, when talking about cars, people usually say a 2-door car or a 4-door car. chi @nguyendtt, what do you think?

[2015-10-19 21:12] nguyendtt commented on #68
Yes i agree: 4-door car or 2-door car.

On Mon, Oct 19, 2015 at 3:10 PM, phuong37 <notifications@github.com> wrote:

[2015-10-19 21:19] nguyendtt commented on #68
Adding @cuong-ubesim for Android as well.

[2015-10-19 21:21] phucdoan commented on #68
iOS updated:
"2 seats"
"4-door"

Thanks ^^!

[2015-10-19 21:22] phuong37 commented on #68
you guys are the best!! thank you!

[2015-10-19 21:24] phucdoan commented on #64
Updated !

[2015-10-19 21:28] nguyendtt commented on #68
OK reassign to @cuong-ubesim

[2015-10-19 21:42] phucdoan commented on #62
iOS updated

[2015-10-19 21:45] nguyendtt commented on #40
@cuong-ubesim @phucdoan both iOS and Android are missing that bubble "Adjust your Price per Mile and Price per Minute....".  Is that something that cannot be implemented?  Other than that, iOS driver side nav looks fine @phucdoan .  @cuong-ubesim , Android driver side nav doesn't match the comp, /mile /min are in blue in stead of light gray as in comp, also the nav items below don't match. "Ride

[2015-10-19 21:47] phucdoan commented on #59
@nguyendtt one of [FirstName] or [LastName] is required, right?

if both required, we should remove "(required)" in text place holder and by default all fields will be required

[2015-10-19 21:47] nguyendtt commented on #40
@phuong37 @tle960 I don't see Payments on Driver info/Vehicle update options on the new comp.  Can we address?

[2015-10-19 21:50] nguyendtt commented on #10
How do I test this @ThangPk ? Should I just put in 4242 4242 4242 424?

[2015-10-19 21:51] nguyendtt commented on #8
Looks good to me.

[2015-10-19 21:51] #8 closed

[2015-10-19 21:51] nguyendtt commented on #7
Removed "Resolved" until Android message is updated @cuong-ubesim

[2015-10-19 21:52] nguyendtt commented on #13
Issue is resolved.

[2015-10-19 21:52] #13 closed

[2015-10-19 21:54] nguyendtt commented on #15
No swiping but it's much easier now to toggle between Register as Rider and Register as Driver.

[2015-10-19 21:54] #15 closed

[2015-10-19 21:54] phucdoan commented on #52
Updated!

[2015-10-19 21:55] nguyendtt commented on #52
@phucdoan wasn't sure if this was resolved completely or will have to wait for the next build.  I'm seeing that "special" is now correct but "misdemeanor" and all instances of "license" or "licenses" are still mispelled.

[2015-10-19 21:58] nguyendtt commented on #59
Both Last and First Names are required for this screen. Thanks @phucdoan

[2015-10-19 22:04] nguyendtt opened #95 "[iOS + Android] Range or years for vehicle information"
I'm noticing that we have a wide range of years for the vehicle information screen, from something like 1900 - 2030+.  I think the newest year should only be the current year + 1 (ex. the current max year would be 2016).  The oldest year should be 2000 (16 year old?).  @trietphamvm @phuong37

[2015-10-19 22:42] nguyendtt commented on #49
Please make sure to update in Edit Profile as well.  I was able to enter 11 numbers @phucdoan

[2015-10-19 22:49] phuong37 commented on #10
chi @nguyendtt - try this https://stripe.com/docs/testing

[2015-10-19 22:51] phuong37 commented on #95
i agree with chi @nguyendtt - if we do any older, we risk the cars having more mechanical issues. thanks!

[2015-10-19 23:05] nguyendtt opened #96 "[iOS] Forgot password wrong phone number error message needs updating"
I purposely use the wrong phone number for the account and the good thing is it doesn't let me proceed.  The error message should be changed to blue and text should be updated from:

Error:
Wrong phone number format

to

Error:
This number does not match phone number on file

![phoneerror](https://cloud.githubusercontent.com/assets/14857908/10593667/d34d2160-7682-11e5-93f9-df47ffe37d9a.PNG)

[2015-10-19 23:17] #4 closed

[2015-10-19 23:17] nguyendtt commented on #4
Closing based on Phuong's conversation with Lam that we cannot verify.

[2015-10-19 23:29] nguyendtt opened #97 "[iOS] Able to add test American Express card number with 3-number CCV code"
American Express cards have 4-digit verification code but our app only allows 3.  I put in 3 numbers and am able to save and move forward.

[2015-10-19 23:38] nguyendtt commented on #10
This is now resolved.

[2015-10-19 23:38] #10 closed

[2015-10-19 23:50] nguyendtt commented on #49
@cuong-ubesim adding Cuong as well, as I was also able to add more than 10 numbers for Android.

[2015-10-20 00:03] phuong37 opened #98 "[iOS] - add tooltip to let users know that they can drag map and add location"
please add tool-tip similar to Android that let's users know they can drag the map around and tap the pin to automatically add the pick-up and drop-off location.

i suggest this text -

drag map and tap pin to add pick-up
drag map and tap pin to add drop-off

[2015-10-20 00:03] phuong37 commented on #98
anh @cuong-ubesim, please update text to:

drag map and tap pin to add pick-up
drag map and tap pin to add drop-off

[2015-10-20 00:08] nguyendtt commented on #77
Currently I'm able to view Driver's Name, Phone Number and Email Address from Rider Main Screen before even placing a ride request.  According to Buruk, riders and drivers should not be able to be in contact with each other until a  bid is accepted.
![androiddriver](https://cloud.githubusercontent.com/assets/14857908/10594636/4a4095dc-768c-11e5-834a-622f661094df.png)
![iosdriver](https://cloud.git

[2015-10-20 00:36] nguyendtt opened #99 "[iOS + Android] Drivers and Riders shouldn't be able to contact each other until ride request is accepted"
Currently I'm able to view Driver's Name, Phone Number and Email Address from Rider Main Screen before even placing a ride request. According to Buruk, riders and drivers should not be able to be in contact with each other until a ride request is accepted.

Chatted with Phuong and she think after a ride request is accepted, we should mask the phone number on dial, Uber and Lyft do this for securit

[2015-10-20 01:32] phuong37 commented on #1
feature added so closing this enhancement. if we have issues with search, we will refer to document before we log. thank you!

[2015-10-20 01:32] #1 closed

[2015-10-20 02:03] nguyendtt opened #100 "[iOS] Session expired error"
I did not see this error in the first build but with the 1.0 (2) build, i noticed that my session expired from time to time when I come back to the app.  I dont think sessions are set to expire unless user deliberately log out?  And we don't really want users to log out either so they can receive notifications, correct?  My Lyft account is always logged in.

I'm setting this as a question for now,

[2015-10-20 02:25] nguyendtt opened #101 "[iOS + Android] Automatically change credit card icon to the correct card thumbnail"
I think this is a nice to have, I'm seeing it on Android with certain cards like Visa, Mastercard and American Express, as user start inputting their credit card number, the credit card thumbnail to the left automatically switch over to the thumbnail image of the correct card. On the screengrabs, you can see the Visa icon on the screenshot with 4242 4242, the screenshot with 6011 is supposed to be

[2015-10-20 02:38] nguyendtt commented on #43
THis is no longer an issue. Closing. Using this link to clear for both email and phone.
http://dealaride-qa.azurewebsites.net/api/user/delete?key=nguyendtt@hotmail.com

[2015-10-20 02:38] #43 closed

[2015-10-20 02:53] trietphamvm commented on #62
This is fixed on the server side.

[2015-10-21 02:00] phucdoan commented on #98
@phuong37 you can pickup / drop-off by click on center maps icon
Did i miss anything else?

[2015-10-21 02:16] phucdoan commented on #85
iOS updated:
- Loaded feedback msg: "For your security, please enter the confirmation code that has been sent to your phone and enter a new password."

- Changed password feedback msg: "Your password has been successfully updated."
Thanks

[2015-10-21 02:37] phucdoan commented on #77
iOS updated!

[2015-10-21 02:44] phucdoan commented on #75
not yet chi @nguyendtt, please see update when next build release.
I marked updated for work queue to make sure not miss any ticket!

[2015-10-21 02:49] nguyendtt commented on #75
Thanks for the confirmation, @phucdoan

[2015-10-21 02:56] tle960 commented on #81
Good Catch Trinh!  We would like users to stay logged in and not log out so easily.  As such, we should have the log out option in the settings for both iOS and Android.  In addition, we should have the switch driver to rider or vice versa in the side nav.

In iOS:  please add "log in as driver" in the side nav.
In Andriod:  please move the log out to settings and add "log in as driver" if not alr

[2015-10-21 04:19] nguyendtt commented on #81
Thank you @tle960 !

[2015-10-21 04:21] nguyendtt commented on #81
@cuong-ubesim please assign to @phucdoan  when you're done implementing. Thanks.

[2015-10-21 06:18] tle960 commented on #32
The Lato font is correct. Thank you all!

[2015-10-21 06:59] tle960 commented on #93
Hi All,

here's the updated side nav mocks. They have all been added to their respective folders in our shared google drive folders labeled - UI Changes - 10202015

![Uploading dar_main_rider_side_nav_no_driver_acct.png…]()
![dar_main_rider_side_nav_have_driver_acct](https://cloud.githubusercontent.com/assets/5767081/10629755/8ce1080e-7786-11e5-94a6-dfc38841ccd5.png)
![dar_main_driver_side_nav_no_

[2015-10-21 07:46] tle960 commented on #69
Driver can change vehicle info in settings. Please see attached mocks. The psd has been added to the google driver shared folder as well.
![dar_driver_settings](https://cloud.githubusercontent.com/assets/5767081/10630670/37dda0fe-778d-11e5-85b3-bcedcdcf9d51.png)

[2015-10-21 09:22] trietphamvm commented on #93
Please remove Become a Rider. All accounts in our system default is Rider event if you select register account as Driver. So if you register and then login as driver, you can switch to rider mode anytime without "Become a Rider"

[2015-10-21 17:27] tle960 commented on #93
Thanks for the clarification TP!

[2015-10-21 19:47] phuong37 commented on #93
anh @trietphamvm - the difference is the call to action for the user. let's discuss more tonight. thanks!

[2015-10-22 03:38] cuong-ubesim commented on #84
Fixed. Please wait for next build. Thanks!

[2015-10-22 03:49] tle960 opened #102 "[iOS + Android] Please remove the account link on the side nav for both rider and driver"
After reviewing the UI further, I released that we may not need the account link for all side nav. The account link is meant for changing profile information, however, users can achieve this in the settings as well. I looked at both Uber and Lyft and found that they just have settings and no account side menu. I believe that we can just follow standard industry practice and save some space.

As al

[2015-10-22 04:22] ThangPk commented on #5
Adding no cropping for uploading images for driver & vehicle one.

[2015-10-22 04:35] ThangPk commented on #101
Add Discover card type for Android. Now will support 4 types: Visa, Mastercard, Discover and American Epxress. Assign to IOS to update.

[2015-10-22 05:00] ThangPk commented on #49
Android update to limit 10 numbers.

[2015-10-22 05:43] nguyendtt commented on #49
@ThanhPk, will it give an error if it's less than 10 numbers? I think it should.

[2015-10-22 05:58] phuong37 commented on #98
anh @phucdoan - i'm sorry, i haven't checked the last build! i will validate tomorrow and close the ticket. thank you!

[2015-10-22 05:59] #32 closed

[2015-10-22 09:18] ThangPk commented on #62
Android updated.

[2015-10-22 09:49] phucdoan commented on #98
Okie, please check and tell me if any.
Thank you!

[2015-10-22 12:21] trietphamvm commented on #62
Both format 5 digits and 9 digits are already validated on server side. But let add this rule at client as well

[2015-10-22 12:22] trietphamvm commented on #62
Here is the regex: ^\d{5}(?:[-\s]\d{4})?$

[2015-10-22 16:33] ThangPk commented on #68
Android updated.

[2015-10-22 17:32] ThangPk commented on #67
Show full model and vehicle type, is it look better with image below?

![screenshot_2015-10-23-00-29-58](https://cloud.githubusercontent.com/assets/14875306/10672959/859b774e-791d-11e5-90a3-d08f3a28a486.png)
chi @phuong37 / @nguyendtt

[2015-10-22 17:40] phuong37 commented on #67
anh @ThangPk - i love it! :)

[2015-10-22 20:09] nguyendtt commented on #67
Agree, this looks much better @phuong37 @ThangPk

[2015-10-22 21:09] nguyendtt opened #103 "[iOS] Update Error phone number message"
This is related to #96 but it should serve up a different error message.
When I provide a phone number that is not 10 digit on the registration or on Edit Profile, I also get the same error message as #96, Error: Wrong phone number format.  I think the error should read "Please enter a valid mobile phone number".

@phuong37 tagging you in case you have a better copy to use.

![image](https://cloud

[2015-10-22 21:11] nguyendtt commented on #103
![image](https://cloud.githubusercontent.com/assets/14857908/10678378/30b3a380-78cf-11e5-8b7f-1387340e8631.jpg)

[2015-10-22 21:18] nguyendtt commented on #101
Question for @phuong37 @tle960 , what do you think of adding a little disclaimer to the payment screen noting that we only take Visa, Mastercard, Discover and American Express? I'm not sure how many other less-popular cards out there (Diner's Club?) but I think it would be nice to have a discalimer.  Let me know what you thnk.

[2015-10-22 23:40] phucdoan commented on #103
iOS updated:
Wrong phone number format
=> Please enter a valid mobile phone number

adding @cuong-ubesim

[2015-10-23 02:22] cuong-ubesim commented on #77
Updated on Android. Thanks!

[2015-10-23 03:11] cuong-ubesim commented on #96
Android got updated

[2015-10-23 03:17] cuong-ubesim commented on #82
Android got updated to minimum 6 characters. Wait for next build please!

[2015-10-23 05:39] cuong-ubesim commented on #85
Android got fixed.

[2015-10-23 08:03] ThangPk commented on #63
Android updated.

[2015-10-23 11:08] ThangPk commented on #70
Android updated.

[2015-10-23 11:12] ThangPk commented on #75
Android updated.

[2015-10-23 11:14] ThangPk commented on #81
Android updated.

[2015-10-23 15:52] cuong-ubesim commented on #93
@tle960 @phuong37  I confuse between issue #81 vs this issue, not sure which one to follow. Please clarify whether "Become Driver" is under Setting or not. Thanks!

[2015-10-23 16:12] ThangPk commented on #47
Android updated.

[2015-10-23 16:15] ThangPk commented on #49
@nguyendtt sure, it will show the message "Please enter a valid mobile number", this is related to the issue https://github.com/trietphamvm/DAR/issues/47

[2015-10-23 16:20] cuong-ubesim commented on #98
Done on Android

[2015-10-23 16:26] nguyendtt commented on #100
Talked to @phuong37  and Lam, this should be an enhancement.  @phucdoan please assign to @cuong-ubesim when you're done to make sure if we need to update on Android also.

[2015-10-23 17:21] cuong-ubesim commented on #79
Fixed. Please wait for next build. Thanks!

[2015-10-23 18:08] ThangPk commented on #67
Resolved this issue.

[2015-10-23 18:38] cuong-ubesim commented on #91
Fixed. Just allow user to click on calendar icon to change date. Thanks!

[2015-10-24 00:24] phucdoan commented on #101
iOS updated!
4 card types same with android version: Visa, Mastercard, Discover and American Epxress.

[2015-10-24 00:45] phuong37 commented on #101
chi @nguyendtt, yes, nice to have. we can enter as enhancement later. @phucdoan - i will validate in the next release. thanks!

[2015-10-24 00:53] phuong37 commented on #95
chi @nguyendtt - hold off on this while i get confirmation from the team. thanks!

[2015-10-24 00:56] phuong37 commented on #93
anh @cuong-ubesim - log out should be under settings.

for the rider, there should be two states:

rider, not yet driver shows "become a driver"
rider, already driver, shows "login as driver"

they will have the same flow and click to the same thing, however the call to action needs to be different so that the user understands.

i will talk to anh @trietphamvm about this.

thank you!
p

[2015-10-24 00:58] phuong37 commented on #77
thank you anh @phucdoan & anh @cuong-ubesim - we will validate in next release.

[2015-10-24 01:01] phuong37 commented on #49
anh @ThangPk and chi @nguyendtt, i think that's a good "catch all" error message.

[2015-10-24 01:09] trietphamvm commented on #93
Just confirm again guys:

- Rider state:
+ If you are not driver, "Become a driver" at nav
+ If you are driver already "Login as driver" at Nav

They are difference actions in term of coding

- Driver state:

+ Just always show "Login as Rider" at nav

- Logout, move it under Settings.
- I also thought that we should remove the link Account as well, and move Edit profile, vehicle information under

[2015-10-24 01:21] trietphamvm commented on #51
Thanks Phuc, I will resolve this issue when we have the logo for hovit

[2015-10-24 01:22] phuong37 commented on #93
anh @trietphamvm - yes, that's correct on all of the above! we opened an enhancement for your last comment :), #102. you guys are all awesome!

[2015-10-24 01:26] trietphamvm commented on #93
Cool, let go with this @cuong-ubesim and @phucdoan

[2015-10-24 04:30] cuong-ubesim commented on #87
Android updated to let user cancel a ride if they don't put in a reason.

[2015-10-24 04:37] cuong-ubesim commented on #103
Android updated.

[2015-10-24 04:44] ThangPk commented on #102
Android updated.

[2015-10-24 04:46] ThangPk commented on #93
Android updated.

[2015-10-24 04:59] cuong-ubesim commented on #75
chi @nguyendtt , @phuong37  We are using "Log in" to authenticate our system via email/password, whereas we use "Sign-in with Facebook". It looks like to be inconsistent. Please review and leave your feedback. Thanks!

![1_dar_login](https://cloud.githubusercontent.com/assets/14882939/10708961/40accb86-7a46-11e5-8477-a019cada2846.png)

[2015-10-24 05:46] nguyendtt commented on #75
Good call @cuong-ubesim. @phuong37, I don't see an issue updating the "Sign-in wih Facebook" copy with "Log in with Facebook" do you? Lyle uses this while Uber use "Connect with Facebook"

[2015-10-24 06:12] trietphamvm commented on #75
They are the same, don't take time on this much

Sent from my iPhone

[2015-10-24 06:25] ThangPk commented on #90
Fix this issue.

[2015-10-24 17:43] phuong37 opened #104 "[iOS + Android + Email] - add personalization messages"
welcome and thank you messages/screens

anh @tle960 & khanh, we need to discuss -

-welcome [welcome, first name]
-email personalization [thank you for riding with hovit, first name]
-thank you [thank you, first name]

[2015-10-24 17:50] phuong37 opened #105 "[iOS + Android] - marketplace ad listings"
anh @trietphamvm - functionality will be the same but we will work on the brand/UI updates on our end.

@tle960 @

[2015-10-24 17:52] phuong37 opened #106 "[iOS + Android] - rate driver, view driver profiles and ratings"
@trietphamvm - all screens in Google Drive, functionality will be the same but we will work on brand/UI changes for hovit.

@tle960 @kvl01

[2015-10-24 17:56] phuong37 opened #107 "[iOS + Android] - complete ride and share on social networks"
let's update/enhance screen @tle960 and @kvl01

[2015-10-24 17:59] phuong37 opened #108 "[iOS + Android] - add coupon / promotion code functionality"
design promo code screen (screen or side nav?), let's discuss.

- calculate percentage off or $ off

[2015-10-24 20:13] phuong37 opened #109 "[iOS + Android] - rotate direction of cars on map"
per our conversation last time, we will rotate the direction of the cars as they move around on the map.

[2015-10-24 20:15] phuong37 opened #110 "[iOS + Android] - ability to favorite drivers"
anh @trietphamvm - all screens in Google Drive, functionality will be the same but we will work on brand/UI changes for hovit.

@tle960 @kvl01

[2015-10-24 20:16] phuong37 opened #111 "[iOS + Android] - ability to save and view favorite destinations"
anh @trietphamvm - all screens in Google Drive, functionality will be the same but we will work on brand/UI changes for hovit.

@tle960 @kvl01

[2015-10-24 20:41] phuong37 opened #112 "[iOS + Android] - driver & rider add to calendar and push notification for ride reservations"
push notification reminders for drivers and riders who accept ride reservations. also, allow them to save to calendar?

1 push notification 24 hrs before
1 push notification 1 hr before

rider
"This is a friendly reminder that you have a ride reservation on XX/XX/XX at XX:XX time."

driver
"This is a friendly reminder that you have accepted a ride reservation on XX/XX/XX at XX:XX time."

[2015-10-24 20:42] phuong37 opened #113 "[iOS + Android] - allow fingerprint login"

[2015-10-24 20:48] phuong37 opened #114 "[iOS + Android] - allow passenger referral"
refer a friend and you and a friend can get XX% off your next ride.

-pop up referral screen
-enter email or share to facebook or twitter.
-send XX% off promotion code to friend in email. if the friend rides and use promotion code, you will get one emailed to you as well.

need to design - @tle960 @kvl01

[2015-10-24 20:50] phuong37 opened #115 "[iOS + Android] - allow passengers to carpool & split fares"
need to research and put together flow for this.

anh @trietphamvm, if you already know how to approach, please let me know. thanks!

[2015-10-24 20:55] phuong37 opened #116 "[iOS + Android] - allow driver referrals"
refer a driver and you and the other driver can get XX referral bonus.

-pop up referral screen
-enter email or phone number to send referral link
-when new driver completes first drive, deposit referral bonus into original driver and new driver account.

need to design - @tle960 @kvl01

[2015-10-24 20:59] phuong37 opened #117 "[Website] - submit issue or complaint form"
in help section, add form to submit issue.

-notify all members for now

[2015-10-24 21:00] phuong37 opened #118 "[iOS + Android] - rider side nav notifications and marketing messages"
design screen to show notifications and marketing messages / promotions from the company

@tle960 @kvl01

[2015-10-24 21:01] phuong37 opened #119 "[iOS + Android] - driver side nav notifications and marketing messages"
design screen to show notifications and marketing messages / promotions from the company

@tle960 @kvl01

[2015-10-24 21:11] phuong37 commented on #17
@phucdoan - just checked again today, my app crashes every time I click "ok" from the "you have already authorized hovit" screen.

[2015-10-24 21:12] phuong37 commented on #18
chi @nguyendtt, anh @phucdoan - is this still an issue?

[2015-10-24 21:23] phuong37 opened #120 "[iOS] - driver registration, add labels to switch to say "yes" and "no""
this switch works nicely too, but we still need to label it "yes" and "no" for the questions at the bottom

"have you been cited..."
"have you ever been convicted..."
"are you willing to drive long..."

thank you!
p

[2015-10-24 21:25] phuong37 opened #121 "[iOS] - update next step message"
please update "prepair for next step" to:

"loading next step"

thank you!
p

[2015-10-24 21:28] phuong37 opened #122 "[iOS] - driver registration, when active in an input field, the camera options do not launch"
when active in an input field, the camera options do not launch.

you have to click out of the input box and then click on "upload photo" for it to launch the right options.

can we force the iOS keyboard to collapse and allow the camera options to show?

thanks!
p

[2015-10-24 21:31] phuong37 commented on #29
chi @nguyendtt, anh @phucdoan - is this still an issue? i still can't register as a driver on iOS, it still crashes on the last step, adding vehicle information.

[2015-10-24 21:34] phuong37 commented on #33
anh @phucdoan - did you resolve this? i just tested and it looks like it's working fine now. chi @nguyendtt, can you please double-check as well? thank you, both!

[2015-10-24 21:45] phuong37 opened #123 "[Android] - getting a password validation error on the payment screen"
when i try to add my payment info on the payment screen, it pops up with the wrong error -

"please input a strong password" - this should show up on the create profile screen, not the payment screen.

thanks!
p

[2015-10-24 21:50] phuong37 opened #124 "[Android] - driver registration, make state drop down wider, zip smaller"
right now the, the state gets cut off. since zip is only 5 numbers, let's make that smaller and the state big enough to show full state names.

![screenshot_2015-10-24-14-48-43](https://cloud.githubusercontent.com/assets/14860705/10712949/81de9d4c-7a5e-11e5-8641-c75f7e2ae59f.png)

thanks!
p

[2015-10-24 21:52] phuong37 commented on #124
same with driver's license please. make state drop down wider, expiration date field smaller

[2015-10-24 22:00] phuong37 opened #125 "[Android] - change drop off pin color to #"
i will assign once we update new color for hovit.

[2015-10-24 22:09] phuong37 opened #126 "[iOS + Android] - create UI style guidelines"
need to be consistent - @tle960 @kvl01, please create a 1-sheet style guidelines for hovit

i.e.

button height
all colors, RGB and HEX
input field heights
icon sizes
etc.

[2015-10-24 22:11] nguyendtt commented on #18
@phuong37 it hasn't been an issue for me. For you, it still sounds like an issue? Can you try clearing the FB email one more time and reinstall the app, Phuong?

[2015-10-24 22:13] phuong37 opened #127 "[Email] - update hovit emails"
-rider registration email
-driver registration email
-rider receipt
-rider fees charged
-forgot password
-successful password change

[2015-10-24 22:14] phuong37 commented on #18
chi @nguyendtt - let's close this one. we have other bugs open for the FB and driver registration. thanks!

[2015-10-24 22:19] phuong37 commented on #18
validated, closing issue.

[2015-10-24 22:19] #18 closed

[2015-10-24 22:43] phuong37 opened #128 "[DB] - fee structure and use cases"
anh @trietphamvm, i discussed with the team.

please see new fee structure for all driver and rider use cases -

1. Riders Canceling Rides

$5 Rider Fee - almost all use cases will fall under the $5 fee

-rider cancels after 5 minutes
-driver reaches destination and rider is a no show
-all vehicle types have the same fee

*if cancelled within 5 minutes and driver already showed up before 5 minutes

[2015-10-24 23:06] nguyendtt commented on #128
Phuong
For the damages by rider, would the driver the one who needs to report? Below you said passengers must report. Do you mean passengers riding with paying customer?

Thanks

Trinh

Sent from my iPhone

[2015-10-24 23:07] phuong37 commented on #128
chi @nguyendtt, good catch, drivers must report. thanks!

[2015-10-25 03:07] trietphamvm commented on #109
It's not prioritied at this time

[2015-10-25 03:15] trietphamvm commented on #115
Still don't know how to do. But these ad-hoc features can be done after launch

[2015-10-25 04:15] phuong37 commented on #115
Anh @trietphamvm these features are not for this launch, it's part of the feature list. I'm just adding to github. thanks

[2015-10-25 04:16] phuong37 commented on #109
Anh @trietphamvm these features are not for this launch, it's part of the feature list. I'm just adding to github. thanks